<div class="body_affiliate_program">
<div class="affiliate_program_offer">
  <div class="affiliate_program_offer_promotion">
      <% if current_user.tracking_id == nil %>
      Generate a referral URL (www.zweidesign.co/your_refferal_code)
      <br>
      <br>
      <br>
        <%= form_for (@user), url: tracking_id_user_path(@user), method: :post do |u| %>
          <%= u.label :"Type your url refferal code /?ref="  %>
          <%= u.text_field :tracking_id %>
          
          <%= u.submit "Save the refferal code" %>
        <% end %>
      <% else %>
          Your tracking code = <%= @tracking_id %>
          <br>
          Your referral link = <%= @affiliate_link %>
          <br>
          <br>
          Leads from your affiliations:
          <br>
          <% @my_affiliations.each do |lead| %>
          <%= link_to ">>#{lead.business_type}", lead_path(lead) %>
          <br>
          <% end %>
      <% end %>
  </div>
  <div class="affiliate_program_offer_title">
    Become an affiliate
  </div>
  <div class="affiliate_program_offer_promotion">
    Join an affiliate network that pays out more than $2 million dollars per year
  </div>
  <div class="affiliate_program_offer_title">
    How the affiliate program works
  </div>
  <div class="affiliate_program_offer_promotion">
    Create an Envato Account, then send traffic to any page on Envato Market while adding your account username to the end of the URL.
  </div>
  <div class="affiliate_program_offer_instructions">
    When a new user clicks your referral link, signs up for an account and purchases an item (or deposits money) via any of the Envato Market sites, you will receive 30% of that person's first cash deposit or purchase price. If they deposit $20 into their account, you get $6. If they buy a $200 item, you get $60.
    By becoming an Affiliate, you agree to the Affiliate Program Terms.
  </div>
  <br>
  <br>
  <div class="affiliate_program_offer_promotion">
    Banners and logos
  </div>
  <div class="affiliate_program_offer_promotion">
    Find out more about our affiliate program
  </div>

  <table class="affiliate_program_offer_sosed_info">
    To help you along, we've summarized a few of the key Do's and Don'ts below but for detailed information read the Affiliate Program Terms
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DO:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Create SEO friendly blog posts or a guest blog to write about an area of interest that is related to the service you're marketing.
</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use your site or a social service to feature an item, using your referral link. This could be a post, a sidebar widget, or a tweet on Twitter./td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use targeted banner ads including banner ads for specific categories of each Envato Market site. You can download each of the banners here.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Promote limited time discounts that we run on collections of items.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use handy affiliate plugins that recommend items automatically. Browse all affiliate scripts and plugins here.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Promote new and growing categories on Envato Market. To see what's coming up, you can follow our Envato Most Wanted competitions.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Design a page or site that is unique in design and isn't going to confuse anyone about your purpose as an affiliate.</td>
    </tr>
  </table>
  <table class="affiliate_program_offer_sosed_info">
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DON'T:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Confuse consumers through the design of your site by copying our site design or using our logos other than the prescribed affiliate banners which you can find here.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Link from any Envato Market site or from any domain owned and operated by Envato in order to gain referrals.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use Envato brands, trademarks and intellectual property other than those banner and logos approved by Envato and made available to affiliates on the referral page.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Purchase a domain name, search engine keyword or pay-per-click advertisement that uses any Envato trademarks or variations and mis-spellings.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Copy item descriptions (unless you raise a support ticket and get consent from us);</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Send unsolicited email or other messaging that in any way may constitute spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Do anything that would amount to a breach of any laws including, but not limited to, privacy, intellectual property and spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Engage in any conduct that does not meet our standards of 'fair play' including things like fraud, confusing the new user, or providing a link designed to mislead the customer.</td>
    </tr>
  </table>
</div>
</div>
