<div class="body_affiliate_program">
<div class="affiliate_program_offer">
  <div class="affiliate_program_offer_title">
    Welcome to affiliate program!
  </div>
  <div class="affiliate_program_offer_promotion">
      <% if current_user.tracking_id == nil %>
      GENERATE YOUR TRACKING ID
      <br>
      <br>
        <%= form_for (@user), url: tracking_id_user_path(@user), method: :post do |u| %>
          <%= u.label :"Type your desired tracking id "  %>
          <%= u.text_field :tracking_id %>
          <%= u.submit "Save" %>
        <% end %>
      <% else %>
          YOUR TRACKING LINK
          <br>
            <textarea class="js-copytextarea"><%= @affiliate_link %></textarea>
            <br>
            <button class="js-textareacopybtn">Copy</button>
<!-- ******************** START of Copy to clipboard script ***************************** -->
          <script>
            var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

            copyTextareaBtn.addEventListener('click', function(event) {
            var copyTextarea = document.querySelector('.js-copytextarea');
            copyTextarea.select();

            try {
              var successful = document.execCommand('copy');
              var msg = successful ? 'successful' : 'unsuccessful';
              console.log('Copying text command was ' + msg);
            } catch (err) {
              console.log('Oops, unable to copy');
            }
            });
          </script>
<!-- ******************** END of Copy to clipboard script ***************************** -->
      <% end %>
  </div>
  <div class="affiliate_program_offer_title">
    How the affiliate program works
  </div>
  <div class="affiliate_program_offer_promotion">
    Create a ZweiDesign Account, then send traffic to the Find & hire page while adding your tracking id to the end of the URL.
  </div>
  <div class="affiliate_program_offer_instructions">
    When a new user clicks your referral link and places an order, providers are notified. When a provider purchases the lead (or deposits money), you will receive 50% of that person's first cash deposit or purchase price. If they deposit €200 into their account, you get €100. If they buy leads worth €70, you get €35.
    By becoming an Affiliate, you agree to the Affiliate Program Terms.
  </div>
  <br>
  <br>
  <div class="affiliate_program_offer_promotion">
    Find out more about our affiliate program
  </div>

  <table class="affiliate_program_offer_sosed_info">
    To help you along, we've summarized a few of the key Do's and Don'ts below but for detailed information read the Affiliate Program Terms
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DO:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Link to your affiliate link on your social media posts. For Pinterest, Facebook, Instagram and similar, feel free to use photos from our page or our social media profiles.
      </td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Create SEO friendly blog posts or a guest blog to write about an area of interest that is related to the architecture, interior design and construction services you're marketing.
      </td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use your site to feature an item, using your referral link. This could be a post, a sidebar widget, or an article./td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use targeted banner ads for ZweiDesign services. If you need help with creating them, please let us know.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Promote new projects and providers on ZweiDesign. To see what's new, you can follow our ZweiDesign page.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Design a page or site that is unique in design and isn't going to confuse anyone about your purpose as an affiliate.</td>
    </tr>
  </table>
  <table class="affiliate_program_offer_sosed_info">
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DON'T:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Confuse consumers through the design of your site by copying our site design or using our logos other than the prescribed affiliate banners which you can find here.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Purchase a domain name, search engine keyword or pay-per-click advertisement that uses any Envato trademarks or variations and mis-spellings.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Copy item descriptions (unless you raise a support ticket and get consent from us);</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Send unsolicited email or other messaging that in any way may constitute spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Do anything that would amount to a breach of any laws including, but not limited to, privacy, intellectual property and spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Engage in any conduct that does not meet our standards of 'fair play' including things like fraud, confusing the new user, or providing a link designed to mislead the customer.</td>
    </tr>
  </table>
</div>
</div>
