<div class="body_profile">
  <div class="columns">
  <ul class="wookmark">

<!-- :::::::::::::::::  START of user_signed_in? ::::::::::::::::-->
<% if user_signed_in? %>
  <!-- :::::::::::::::::  START of user.affiliator ::::::::::::::::-->
  <% if current_user.affiliator == 't' %>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Your dashboard
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_username">
            <%= current_user.email %>
          </div>
          <div class="profile_dashboard_body_logout">
            <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :get %>
          </div>
          <div class="profile_dashboard_body_edit">
            <%= link_to "Edit my profile", user_path(current_user) %>
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Affiliate program
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_wallet_amount">
            <%= link_to affiliate_program_path do %>
              <i class="fa fa-university"></i>
            <% end %>
          </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <div class="profile_dashboard_body_wallet_button">
              <% if current_user.tracking_id.present? %>
                <%= link_to "Tracking id: #{current_user.tracking_id}", affiliate_program_path %>
              <% else %>
                <%= link_to "Create your tracking id", affiliate_program_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          My leads
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_username">
            My affiliate leads
          </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <div class="profile_dashboard_body_wallet_button">
              <% if @my_affiliations.any? %>
                <% @my_affiliations[0..4].each do |affiliate_lead| %>
                <br>
                <%= link_to "#{affiliate_lead.business_type}", lead_path(affiliate_lead) %>
                <br>
                <br>
                <% end %>
              <% else %>
                <%= link_to "No leads yet :)", affiliate_program_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Turnover
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_wallet_amount">
            <%= link_to dashboard_path do %>
              <i class="fa fa-money"></i>
            <% end %>
          </div>
          <div class="profile_dashboard_body_username">
            Your turnover: comming soon
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Inbox
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_wallet_amount">
            <%= link_to messages_path do %>
              <i class="fa fa-envelope"></i>
            <% end %>
          </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <div class="profile_dashboard_body_wallet_button">
              <%= link_to "See conversations", messages_path %>
            </div>
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Links
        </div>
        <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_wallet_amount">
        <i class="fa fa-users"></i>
        </div>
        <div class="profile_dashboard_stats_title">
          <%= link_to "See leads", leads_path %>
        </div>
        <div class="profile_dashboard_stats_title">
          <%= link_to "See users", users_path %>
        </div>
        <div class="profile_dashboard_stats_title">
          <%= link_to "See projects", projects_path %>
        </div>
        </div>
      </div>


  <% else %>
    <div class="lead_box">
      <div class ="profile_dashboard_title">
        My dashboard
      </div>
      <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_username">
          <%= current_user.email %>
        </div>
        <div class="profile_dashboard_body_logout">
          <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :get %>
        </div>
        <div class="profile_dashboard_body_edit">
          <%= link_to "Edit my profile", user_path(current_user) %>
        </div>
      </div>
    </div>

    <div class="lead_box">
    <div class ="profile_dashboard_title">
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_wallet_amount">
        <%= link_to messages_path do %>
          <i class="fa fa-envelope"></i>
        <% end %>
      </div>
      <div class="profile_dashboard_body_wallet_buttons">
        <div class="profile_dashboard_body_wallet_button">
          <%= link_to "Conversations", messages_path %>
        </div>
      </div>
    </div>
  </div>

    <div class="lead_box">
    <div class ="profile_dashboard_title">
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_wallet_amount">
        <%= current_user.wallet %> €
      </div>
      <div class="profile_dashboard_body_wallet_buttons">
        <div class="profile_dashboard_body_wallet_button">
          <%= link_to "#{I18n.t'staticpagesprofile-notification.wallet-buttons.bank'}", wallet_payment_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
    </div>
    <div class="profile_dashboard_body">
    <div class="profile_dashboard_body_wallet_amount">
    <i class="fa fa-users"></i>
    </div>
    <div class="profile_dashboard_stats_title">
      <%= link_to "See leads", leads_path %>
    </div>
    <div class="profile_dashboard_stats_title">
      <%= link_to "See users", users_path %>
    </div>
    <div class="profile_dashboard_stats_title">
      <%= link_to "See projects", projects_path %>
    </div>
    </div>
  </div>


<% if current_user.orders.where(paid:true).any? %>
    <div class="lead_box">
      <div class ="profile_dashboard_title">
      </div>
      <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_wallet_amount">
          <%= link_to address_book_path do %>
            <i class="fa fa-book"></i>
          <% end %>
        </div>
        <div class="profile_dashboard_stats_title">
          <%= link_to "My Address book", address_book_path %>
        </div>
        </div>
      </div>
<% end %>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
        </div>
        <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_wallet_amount">
          <%= link_to new_project_path do %>
            <i class="fa fa-plus-circle"></i>
          <% end %>
        </div>
          <div class="profile_dashboard_stats_title">
            <%= link_to "Add new project", new_project_path %>
          </div>
      </div>
    </div>


      <div class="lead_box">
        <div class ="profile_dashboard_title">
        </div>
        <div class="profile_dashboard_body">
        <div class="profile_dashboard_stats_data">
          <%= @updated_at %>
        </div>
        <div class="profile_dashboard_stats_title">
          <%= link_to "My last update", user_path(current_user) %>
        </div>
        </div>
      </div>

  <% end %>
  <!-- :::::::::::::::::  END of user.affiliator ::::::::::::::::-->

    <!-- <div class="lead_box">
      <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
      </div>
      <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_wallet_amount">
          <%= current_user.wallet %> €
        </div>
      </div>
    </div> -->

    <!-- <% if Order.all.where(selector_id: current_user.id, paid: true).present? %>
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_bought_leads_amount">
            <%= Order.all.where(selector_id: current_user.id, paid: true).count %>
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
           <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_bought_leads_last">
            <%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.business_type %> (<%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.location %>)
          </div>
        </div>
      </div>

      <% else %>

        <div class="lead_box">
          <div class ="profile_dashboard_title">
            <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
          </div>
          <div class="profile_dashboard_body">
            <div class="profile_dashboard_body_no_bought_leads">
              <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
            </div>
          </div>
        </div>

        <div class="lead_box">
          <div class ="profile_dashboard_title">
            <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
          </div>
          <div class="profile_dashboard_body">
            <div class="profile_dashboard_body_no_bought_leads">
             <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
            </div>
          </div>
        </div>
      <% end %> -->

  <% else %>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
      <%= I18n.t'staticpagesprofile-notification.not-logged-in' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_title_login_or_signup">
        <div class="profile_dashboard_body_login">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-in'}", new_user_session_path %>
        </div>
        <div class="profile_dashboard_body_signup">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-up'}", new_user_registration_path %>
        </div>
      </div>
    </div>
  </div>

<div class="lead_box">
  <div class ="profile_dashboard_title">
    Find & hire:
  </div>
  <div class="profile_dashboard_body">
    <div class="profile_dashboard_body_not_signed_in">
      Need sub-contractors for your project? Post a request and receive quotes from qualified professionals.
    </div>
    <div class="profile_dashboard_body_wallet_buttons">
      <div class="profile_dashboard_body_wallet_button">
        <%= link_to "Find a professional", find_professional_path %>
      </div>
    </div>
  </div>
</div>


<!--
  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_not_signed_in">
         <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div>
    </div>
  </div> -->

  <!-- <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_no_bought_leads">
        <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div>
    </div>
  </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
       <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_no_bought_leads">
       <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div>
    </div>
  </div> -->

<% end %>
<!-- :::::::::::::::::  END of user_signed_in? ::::::::::::::::-->

  </ul>
  </div>
</div>
