<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title"><%=I18n.t'staticpages-info.title'%></div><br><br>
    <div class="section_welcome_subtitle"><%=I18n.t'staticpages-info.subtitle'%></div>
    <div class="section_welcome_subtitle">
      <%=I18n.t'staticpages-info.welcome-text-2'%>
      <br>
    </div>
  </section>
  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
  </section>
  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "TELL US WHAT YOU NEED", new_lead_path %></div>
    <div class="section_our_team_subtitle">
      Tell us about your needs and we'll introduce you to several experienced professionals in your area who are ready to complete your project. </div>
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "RECEIVE COMPETITIVE BIDS", new_lead_path %></div>
    <div class="section_our_team_subtitle">Receive offers from interested pros and compare their prices, business profiles and availability!</div>
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "HIRE THE RIGHT PROS", new_lead_path %></div>
    <div class="section_our_team_subtitle">When you are ready, hire the best professional for your project.</div>
  </section>
  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
  </section>
  <section class="section_welcome">
    <div class="section_welcome_title">What kind of work can I get done?</div><br><br>
    <div class="section_welcome_subtitle">
      How does "anything you want" sound? We have experts representing every technical, professional and creative field, providing a full range of solutions:
      <ul>
        <li>Small jobs, large jobs, anything in-between</li>
        <li>Fixed price or hourly terms</li>
        <li>Specific skills, cost and schedule requirements</li>
      </ul>
      <br>
      Just give us the details of your project and our professionals will get it done faster, better, and cheaper than you can imagine. Your jobs can be as big or small as you like, they can be fixed price or hourly, and you can specify the schedule, cost range, and milestones.</div>
  </section>
  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
  </section>
  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "GET STARTED", new_lead_path %></div>

  </section>
  <section class="section_form">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//sosed.us1.list-manage.com/subscribe/post?u=2228fd24f2a4419c938ef2fdb&amp;id=97a8497f81" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    	<label for="mce-EMAIL">Subscribe to our mailing list</label>
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_2228fd24f2a4419c938ef2fdb_97a8497f81" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </section>
</div>
