<div class="body_info_singlepage">

  <section class="section_welcome">
    <div class="section_welcome_title"><%=link_to "Signup as a Pro", new_user_registration_path%></div>
    <br><br><br>
    <div class="section_welcome_subtitle">ZweiDesign is a Professional Community for people who like what they do, are good at it and who want to be part of Like-minded Community.</div>
    <div class="section_welcome_subtitle">
      We connect many Small Business Experts, working in Home Renovation, Architecture, Interior Design and similar fields,
      and provide a range of different short or long term Job Opportunities.
    </div>
    <div class="section_welcome_subtitle">
      Join ZweiDesign community and <%=link_to "SIGNUP AS A PRO!", new_user_registration_path%>
    </div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
  </section>

  <section class="section_welcome">
    <div class="section_welcome_title">What kind of work can I do?</div><br><br>
    <div class="section_welcome_subtitle">
      How does "anything you want" sound? You can apply for:
      <ul>
        <li>Small jobs, large jobs, anything in-between</li>
        <li>Fixed price or hourly terms</li>
        <li>Specific skills, cost and schedule requirements</li>
      </ul>
      <br>
      <%=link_to "Create a profile", new_user_registration_path%>, let us know what you do and what kind of Jobs you are looking for and we will notify you about new Opportunities for Free.</div>
  </section>

  <section class="section_our_team">
   <i class="fa fa-heart"></i>
   <div class="section_our_team_title">CHOOSE YOUR CUSTOMERS</div>
   <div class="section_our_team_subtitle">
     Apply only when you like the job.
   </div>
 </section>
 <section class="section_our_team">
   <i class="fa fa-heart"></i>
   <div class="section_our_team_title">THANK-YOU-FEE</div>
   <div class="section_our_team_subtitle">When you find a project you like, support community back
     <br>with a small thank-you-fee of 10€ and get in touch with the customer.</div>
 </section>

<section class="section_our_team">
   <i class="fa fa-heart"></i>
   <div class="section_our_team_title">KEEP WHAT YOU EARN</div>
   <div class="section_our_team_subtitle">No percentage of project fees. No hidden costs.
     <br>Keep 100% of your earnings and grow your business. </div>
 </section>
 <section class="section_how_it_works">
   <div class="section_how_it_works_image"></div>
 </section>

  <section class="section_our_team">
     <i class="fa fa-heart"></i>
     <div class="section_our_team_title">
     <% if current_user.present? %>
       <%= link_to "GET STARTED - create your business profile!", new_project_path %>
     <% else %>
       <%= link_to "GET STARTED - create your business profile!", new_user_registration_path %>
     <% end %>
     </div>
   </section>

   <section class="section_how_it_works">
     <div class="section_how_it_works_image"></div>
   </section>


</div>
