<div class="body_profile">
  <div class="columns">
  <ul class="wookmark">

  <% if user_signed_in? %>
  
    <div class="lead_box">
      <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.logged-in-as' %>: 
      </div>
      <div class="profile_dashboard_body"> 
        <div class="profile_dashboard_body_username">  
          <%= @user_email %> 
        </div>
        <div class="profile_dashboard_body_logout">
          <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :get %> 
        </div>
        <div class="profile_dashboard_body_edit">
          <%= link_to "#{I18n.t'staticpagesprofile-links.edit-profile'}", edit_user_registration_path %>
        </div>
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Moja povpraševanja:
      </div>
      <% if @no_shared_leads %>
        <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_body_not_signed_in"> 
              Oddajte storitev, ki je ne izvajate - vzemite tisto, ki jo potrebujete.
            </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <div class="profile_dashboard_body_wallet_button">
              <%= link_to "Oddaj storitev", delim_path %>
            </div> 
          </div> 
        </div>
      <% else %>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_not_signed_in"> 
            Število oddanih povpraševanj:
            <%= @shared_leads_number %>
          </div>
        <div class="profile_dashboard_body_wallet_buttons">
          <div class="profile_dashboard_body_wallet_button">
            <%= link_to "Oddaj povpraševanje", delim_path %>
          </div> 
        </div> 
      </div>
      <% end %>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
      </div>
      <div class="profile_dashboard_body">
        <div class="profile_dashboard_body_wallet_amount">
          <%= @current_user_wallet %>  
        </div>
  <!--       <div class="profile_dashboard_body_wallet_buttons">
          <div class="profile_dashboard_body_wallet_button">
            <%= link_to "#{I18n.t'staticpagesprofile-notification.wallet-buttons.bank'}", wallet_payment_url %> 
          </div>
        </div> -->
      </div>
    </div>

    <% if @paid_orders_present %>
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_bought_leads_amount">  
            <%= @paid_orders_count%>
          </div> 
        </div>
      </div>
        
      <div class="lead_box">
        <div class ="profile_dashboard_title">
           <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_bought_leads_last">  
            <%= @last_bought_lead_business_type %> 
            (<%= @last_bought_lead_location %>) 
          </div> 
        </div>
      </div>

      <% else %>

        <div class="lead_box">
          <div class ="profile_dashboard_title">
            <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
          </div>
          <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_body_no_bought_leads">  
              <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
            </div> 
          </div>
        </div>
        
        <div class="lead_box">
          <div class ="profile_dashboard_title">
            <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
          </div>
          <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_body_no_bought_leads">  
             <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
            </div> 
          </div>
        </div>
      <% end %>
    
  <% else %>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
      <%= I18n.t'staticpagesprofile-notification.not-logged-in' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_title_login_or_signup">
        <div class="profile_dashboard_body_signup">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-up'}", new_user_registration_path %>
        </div> 
        <div class="profile_dashboard_body_login">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-in'}", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>

<div class="lead_box">
  <div class ="profile_dashboard_title">
    Gradbenik gradbeniku:
  </div>
  <div class="profile_dashboard_body"> 
    <div class="profile_dashboard_body_not_signed_in"> 
      Daš storitev, ki je ne izvajaš, vzameš tisto, ki jo izvajaš.
    </div>
    <div class="profile_dashboard_body_wallet_buttons">
      <div class="profile_dashboard_body_wallet_button">
        <%= link_to "Oddaj storitev", delim_path %>
      </div> 
    </div> 
  </div>
</div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_not_signed_in">
         <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div>
    </div>
  </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_body_no_bought_leads"> 
        <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div> 
    </div>
  </div>
  
  <div class="lead_box">
    <div class ="profile_dashboard_title">
       <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_body_no_bought_leads">  
       <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div> 
    </div>
  </div>

<% end %>

  </ul>
  </div>
</div>