<!-- :html => { :multipart => true } -->
<div class="body_devise_users_edit">
  <div class="user_edit">
<div class="user_edit_title">
  <%= I18n.t'users-edit.edit-title' %>
</div>

<%= form_for(resource, as: resource_name, url: users_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="user_edit_form_email">
    <br><%= f.label :"#{I18n.t'users-edit.edit-fields.name'}" %><br>
    <%= f.text_field :first_name%></div>

  <div class="user_edit_form_email">
    <br><%= f.label :"#{I18n.t'users-edit.edit-fields.surname'}" %><br>
    <%= f.text_field :surname%></div><br>


  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.add-pic-label'}" %><br>
    <%= f.file_field :picture %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.company'}" %><br>
  <%= f.text_field :company %></div><br>

   <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.field'}" %><br>
    <%= f.select :business_type, [
      ["#{I18n.t'users-edit.edit-fields.field-1'}", "#{I18n.t'users-edit.edit-fields.field-1'}"],
      ["#{I18n.t'users-edit.edit-fields.field-2'}", "#{I18n.t'users-edit.edit-fields.field-2'}"],
      ["#{I18n.t'users-edit.edit-fields.field-3'}", "#{I18n.t'users-edit.edit-fields.field-3'}"],
      ["#{I18n.t'users-edit.edit-fields.field-4'}", "#{I18n.t'users-edit.edit-fields.field-4'}"],
      ["#{I18n.t'users-edit.edit-fields.field-5'}", "#{I18n.t'users-edit.edit-fields.field-5'}"],
      ["#{I18n.t'users-edit.edit-fields.field-6'}", "#{I18n.t'users-edit.edit-fields.field-6'}"],
      ["#{I18n.t'users-edit.edit-fields.field-7'}", "#{I18n.t'users-edit.edit-fields.field-7'}"],
      ["#{I18n.t'users-edit.edit-fields.field-8'}", "#{I18n.t'users-edit.edit-fields.field-8'}"],
      ["#{I18n.t'users-edit.edit-fields.field-9'}", "#{I18n.t'users-edit.edit-fields.field-9'}"],
      ["#{I18n.t'users-edit.edit-fields.field-10'}", "#{I18n.t'users-edit.edit-fields.field-10'}"]
    ], :prompt=>"#{I18n.t'users-edit.edit-fields.field-prompt'}"%>
  </div><br>

    <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.services'}" %><br>
    <%= f.text_field :service%>
  </div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.hourly-rate'}" %><br />
  <%= f.text_field :hourly_rate%></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.bio'}" %><br />
  <%= f.text_area :bio%></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.phone'}" %><br>
  <%= f.text_field :phone %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.id'}" %><br>
  <%= f.text_field :tax_id %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.webpage'}" %><br>
  <%= f.text_field :website %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.city'}" %><br />
  <%= f.text_field :city%></div><br>

  <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.country'}" %><br>
    <%= f.select :country, [
      ["#{I18n.t'users-edit.edit-fields.country-1'}"],
      ["#{I18n.t'users-edit.edit-fields.country-2'}"],
      ["#{I18n.t'users-edit.edit-fields.country-3'}"],
      ["#{I18n.t'users-edit.edit-fields.country-4'}"],
      ["#{I18n.t'users-edit.edit-fields.country-5'}"],
      ["#{I18n.t'users-edit.edit-fields.country-6'}"],
      ["#{I18n.t'users-edit.edit-fields.country-7'}"],
      ["#{I18n.t'users-edit.edit-fields.country-8'}"],
      ["#{I18n.t'users-edit.edit-fields.country-9'}"],
      ["#{I18n.t'users-edit.edit-fields.country-10'}"],
      ["#{I18n.t'users-edit.edit-fields.country-11'}"],
      ["#{I18n.t'users-edit.edit-fields.country-12'}"],
      ["#{I18n.t'users-edit.edit-fields.country-13'}"],
      ["#{I18n.t'users-edit.edit-fields.country-14'}"],
      ["#{I18n.t'users-edit.edit-fields.country-15'}"],
      ["#{I18n.t'users-edit.edit-fields.country-16'}"],
      ["#{I18n.t'users-edit.edit-fields.country-17'}"],
      ["#{I18n.t'users-edit.edit-fields.country-18'}"],
      ["#{I18n.t'users-edit.edit-fields.country-19'}"],
      ["#{I18n.t'users-edit.edit-fields.country-20'}"],
      ["#{I18n.t'users-edit.edit-fields.country-21'}"],
      ["#{I18n.t'users-edit.edit-fields.country-22'}"],
      ["#{I18n.t'users-edit.edit-fields.country-23'}"],
      ["#{I18n.t'users-edit.edit-fields.country-24'}"],
      ["#{I18n.t'users-edit.edit-fields.country-25'}"],
      ["#{I18n.t'users-edit.edit-fields.country-26'}"],
      ["#{I18n.t'users-edit.edit-fields.country-27'}"],
      ["#{I18n.t'users-edit.edit-fields.country-28'}"],
      ["#{I18n.t'users-edit.edit-fields.country-29'}"],
    ], :prompt=>"#{I18n.t'users-edit.edit-fields.country-prompt'}"%>
  </div><br><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="user_edit_form_current_password">
  <%= f.label :"#{I18n.t'users-edit.edit-fields.current-password'}" %> <br>
  <%= f.password_field :current_password, autocomplete: "off" %></div><br><br>


 ............................................................<br><br>
  <div class="user_edit_form_password">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.new-password'}" %> <br>
    <%= f.password_field :password, autocomplete: "off" %><br><br>
    <%= f.label :"#{I18n.t'users-edit.edit-fields.password-confirmation'}" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
............................................................<br> <br><br>

  <div class="user_edit_form_submit"><%= f.submit "#{I18n.t'users-edit.edit-fields.confirm'}" %> </div>
<% end %><br>

<div class="user_edit_back"><%= link_to "#{I18n.t'users-edit.back'}", :back %> </div><br><br><br><br><br>

<!--
<div class="user_edit_unhappy"><%= mail_to 'nina.breznik@sosed.si', 'Niste zadovoljni? Povejte nam, zakaj. Dali bomo vse od sebe, da najdemo rešitev.' %> </div>
  <div class="user_edit_button_cancel_account">
    <%= button_to "#{I18n.t'users-edit.cancel-account-button'}", registration_path(resource_name), data: { confirm: "#{I18n.t'users-edit.sure'}"}, method: :delete %>
  </div> -->
</div>


</div>
