<!-- :html => { :multipart => true } -->
<div class="body_devise_users_edit">
  <div class="user_edit">
<div class="user_edit_title">
  <%= I18n.t'users-edit.edit-title' %>
</div>

<%= form_for(resource, as: resource_name, url: users_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="user_edit_form_email">
    <br><%= f.label :"#{I18n.t'users-edit.edit-fields.name'}" %><br>
    <%= f.text_field :first_name%></div>

  <div class="user_edit_form_email">
    <br><%= f.label :"#{I18n.t'users-edit.edit-fields.surname'}" %><br>
    <%= f.text_field :surname%></div><br>


  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.add-pic-label'}" %><br>
    <%= f.file_field :picture %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.company'}" %><br>
  <%= f.text_field :company %></div><br>

   <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.field'}" %><br>
    <%= f.select :business_type, [
      ["#{I18n.t'users-edit.edit-fields.field-1'}", "#{I18n.t'users-edit.edit-fields.field-1'}"],
      ["#{I18n.t'users-edit.edit-fields.field-2'}", "#{I18n.t'users-edit.edit-fields.field-2'}"],
      ["#{I18n.t'users-edit.edit-fields.field-3'}", "#{I18n.t'users-edit.edit-fields.field-3'}"],
      ["#{I18n.t'users-edit.edit-fields.field-4'}", "#{I18n.t'users-edit.edit-fields.field-4'}"],
      ["#{I18n.t'users-edit.edit-fields.field-5'}", "#{I18n.t'users-edit.edit-fields.field-5'}"],
      ["#{I18n.t'users-edit.edit-fields.field-6'}", "#{I18n.t'users-edit.edit-fields.field-6'}"],
      ["#{I18n.t'users-edit.edit-fields.field-7'}", "#{I18n.t'users-edit.edit-fields.field-7'}"],
      ["#{I18n.t'users-edit.edit-fields.field-8'}", "#{I18n.t'users-edit.edit-fields.field-8'}"],
      ["#{I18n.t'users-edit.edit-fields.field-9'}", "#{I18n.t'users-edit.edit-fields.field-9'}"],
      ["#{I18n.t'users-edit.edit-fields.field-10'}", "#{I18n.t'users-edit.edit-fields.field-10'}"],
      ["#{I18n.t'users-edit.edit-fields.field-11'}", "#{I18n.t'users-edit.edit-fields.field-11'}"],
      ["#{I18n.t'users-edit.edit-fields.field-12'}", "#{I18n.t'users-edit.edit-fields.field-12'}"]
    ], :prompt=>"#{I18n.t'users-edit.edit-fields.field-prompt'}"%>
  </div><br>

    <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.services'}" %><br>
    <%= f.text_field :service%>
  </div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.hourly-rate'}" %><br />
  <%= f.text_field :hourly_rate%></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.bio'}" %><br />
  <%= f.text_area :bio%></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.phone'}" %><br>
  <%= f.text_field :phone %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.id'}" %><br>
  <%= f.text_field :tax_id %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.webpage'}" %><br>
  <%= f.text_field :website %></div><br>

  <div class="user_edit_form_email"><%= f.label :"#{I18n.t'users-edit.edit-fields.city'}" %><br />
  <%= f.text_field :city%></div><br>

  <div class="user_edit_form_email">
    <%= f.label :"#{I18n.t'users-edit.edit-fields.country'}" %><br>
    <%= f.select :country, [
      ["#{I18n.t'users-edit.edit-fields.country-0'}"],
      ["#{I18n.t'users-edit.edit-fields.country-1'}"],
      ["#{I18n.t'users-edit.edit-fields.country-2'}"],
      ["#{I18n.t'users-edit.edit-fields.country-3'}"],
      ["#{I18n.t'users-edit.edit-fields.country-4'}"],
      ["#{I18n.t'users-edit.edit-fields.country-5'}"],
      ["#{I18n.t'users-edit.edit-fields.country-6'}"],
      ["#{I18n.t'users-edit.edit-fields.country-7'}"],
      ["#{I18n.t'users-edit.edit-fields.country-8'}"],
      ["#{I18n.t'users-edit.edit-fields.country-9'}"],
      ["#{I18n.t'users-edit.edit-fields.country-10'}"],
      ["#{I18n.t'users-edit.edit-fields.country-11'}"],
      ["#{I18n.t'users-edit.edit-fields.country-12'}"],
      ["#{I18n.t'users-edit.edit-fields.country-13'}"],
      ["#{I18n.t'users-edit.edit-fields.country-14'}"],
      ["#{I18n.t'users-edit.edit-fields.country-15'}"],
      ["#{I18n.t'users-edit.edit-fields.country-16'}"],
      ["#{I18n.t'users-edit.edit-fields.country-17'}"],
      ["#{I18n.t'users-edit.edit-fields.country-18'}"],
      ["#{I18n.t'users-edit.edit-fields.country-19'}"],
      ["#{I18n.t'users-edit.edit-fields.country-20'}"],
      ["#{I18n.t'users-edit.edit-fields.country-21'}"],
      ["#{I18n.t'users-edit.edit-fields.country-22'}"],
      ["#{I18n.t'users-edit.edit-fields.country-23'}"],
      ["#{I18n.t'users-edit.edit-fields.country-24'}"],
      ["#{I18n.t'users-edit.edit-fields.country-25'}"],
      ["#{I18n.t'users-edit.edit-fields.country-26'}"],
      ["#{I18n.t'users-edit.edit-fields.country-27'}"],
      ["#{I18n.t'users-edit.edit-fields.country-28'}"],
      ["#{I18n.t'users-edit.edit-fields.country-29'}"],
      ["#{I18n.t'users-edit.edit-fields.country-30'}"],
      ["#{I18n.t'users-edit.edit-fields.country-31'}"],
      ["#{I18n.t'users-edit.edit-fields.country-32'}"],
      ["#{I18n.t'users-edit.edit-fields.country-33'}"],
      ["#{I18n.t'users-edit.edit-fields.country-34'}"],
      ["#{I18n.t'users-edit.edit-fields.country-35'}"],
      ["#{I18n.t'users-edit.edit-fields.country-36'}"],
      ["#{I18n.t'users-edit.edit-fields.country-37'}"],
      ["#{I18n.t'users-edit.edit-fields.country-38'}"],
      ["#{I18n.t'users-edit.edit-fields.country-39'}"],
      ["#{I18n.t'users-edit.edit-fields.country-40'}"],
      ["#{I18n.t'users-edit.edit-fields.country-41'}"],
      ["#{I18n.t'users-edit.edit-fields.country-42'}"],
      ["#{I18n.t'users-edit.edit-fields.country-43'}"],
      ["#{I18n.t'users-edit.edit-fields.country-44'}"],
      ["#{I18n.t'users-edit.edit-fields.country-45'}"],
      ["#{I18n.t'users-edit.edit-fields.country-46'}"],
      ["#{I18n.t'users-edit.edit-fields.country-47'}"],
      ["#{I18n.t'users-edit.edit-fields.country-48'}"],
      ["#{I18n.t'users-edit.edit-fields.country-49'}"],
      ["#{I18n.t'users-edit.edit-fields.country-50'}"],
      ["#{I18n.t'users-edit.edit-fields.country-51'}"],
      ["#{I18n.t'users-edit.edit-fields.country-52'}"],
      ["#{I18n.t'users-edit.edit-fields.country-53'}"],
      ["#{I18n.t'users-edit.edit-fields.country-54'}"],
      ["#{I18n.t'users-edit.edit-fields.country-55'}"],
      ["#{I18n.t'users-edit.edit-fields.country-56'}"],
      ["#{I18n.t'users-edit.edit-fields.country-57'}"],
      ["#{I18n.t'users-edit.edit-fields.country-58'}"],
      ["#{I18n.t'users-edit.edit-fields.country-59'}"],
      ["#{I18n.t'users-edit.edit-fields.country-60'}"],
      ["#{I18n.t'users-edit.edit-fields.country-61'}"],
      ["#{I18n.t'users-edit.edit-fields.country-62'}"],
      ["#{I18n.t'users-edit.edit-fields.country-63'}"],
      ["#{I18n.t'users-edit.edit-fields.country-64'}"],
      ["#{I18n.t'users-edit.edit-fields.country-65'}"],
      ["#{I18n.t'users-edit.edit-fields.country-66'}"],
      ["#{I18n.t'users-edit.edit-fields.country-67'}"],
      ["#{I18n.t'users-edit.edit-fields.country-68'}"],
      ["#{I18n.t'users-edit.edit-fields.country-69'}"],
      ["#{I18n.t'users-edit.edit-fields.country-70'}"],
      ["#{I18n.t'users-edit.edit-fields.country-71'}"],
      ["#{I18n.t'users-edit.edit-fields.country-72'}"],
      ["#{I18n.t'users-edit.edit-fields.country-73'}"],
      ["#{I18n.t'users-edit.edit-fields.country-74'}"],
      ["#{I18n.t'users-edit.edit-fields.country-75'}"],
      ["#{I18n.t'users-edit.edit-fields.country-76'}"],
      ["#{I18n.t'users-edit.edit-fields.country-77'}"],
      ["#{I18n.t'users-edit.edit-fields.country-78'}"],
      ["#{I18n.t'users-edit.edit-fields.country-79'}"],
      ["#{I18n.t'users-edit.edit-fields.country-80'}"],
      ["#{I18n.t'users-edit.edit-fields.country-81'}"],
      ["#{I18n.t'users-edit.edit-fields.country-82'}"],
      ["#{I18n.t'users-edit.edit-fields.country-83'}"],
      ["#{I18n.t'users-edit.edit-fields.country-84'}"],
      ["#{I18n.t'users-edit.edit-fields.country-85'}"],
      ["#{I18n.t'users-edit.edit-fields.country-86'}"],
      ["#{I18n.t'users-edit.edit-fields.country-87'}"],
      ["#{I18n.t'users-edit.edit-fields.country-88'}"],
      ["#{I18n.t'users-edit.edit-fields.country-89'}"],
      ["#{I18n.t'users-edit.edit-fields.country-90'}"],
      ["#{I18n.t'users-edit.edit-fields.country-91'}"],
      ["#{I18n.t'users-edit.edit-fields.country-92'}"],
      ["#{I18n.t'users-edit.edit-fields.country-93'}"],
      ["#{I18n.t'users-edit.edit-fields.country-94'}"],
      ["#{I18n.t'users-edit.edit-fields.country-95'}"],
      ["#{I18n.t'users-edit.edit-fields.country-96'}"],
      ["#{I18n.t'users-edit.edit-fields.country-97'}"],
      ["#{I18n.t'users-edit.edit-fields.country-98'}"],
      ["#{I18n.t'users-edit.edit-fields.country-99'}"],
      ["#{I18n.t'users-edit.edit-fields.country-100'}"],
      ["#{I18n.t'users-edit.edit-fields.country-101'}"],
      ["#{I18n.t'users-edit.edit-fields.country-102'}"],
      ["#{I18n.t'users-edit.edit-fields.country-103'}"],
      ["#{I18n.t'users-edit.edit-fields.country-104'}"],
      ["#{I18n.t'users-edit.edit-fields.country-105'}"],
      ["#{I18n.t'users-edit.edit-fields.country-106'}"],
      ["#{I18n.t'users-edit.edit-fields.country-107'}"],
      ["#{I18n.t'users-edit.edit-fields.country-108'}"],
      ["#{I18n.t'users-edit.edit-fields.country-109'}"],
      ["#{I18n.t'users-edit.edit-fields.country-110'}"],
      ["#{I18n.t'users-edit.edit-fields.country-111'}"],
      ["#{I18n.t'users-edit.edit-fields.country-112'}"],
      ["#{I18n.t'users-edit.edit-fields.country-113'}"],
      ["#{I18n.t'users-edit.edit-fields.country-114'}"],
      ["#{I18n.t'users-edit.edit-fields.country-115'}"],
      ["#{I18n.t'users-edit.edit-fields.country-116'}"],
      ["#{I18n.t'users-edit.edit-fields.country-117'}"],
      ["#{I18n.t'users-edit.edit-fields.country-118'}"],
      ["#{I18n.t'users-edit.edit-fields.country-119'}"],
      ["#{I18n.t'users-edit.edit-fields.country-120'}"],
      ["#{I18n.t'users-edit.edit-fields.country-121'}"],
      ["#{I18n.t'users-edit.edit-fields.country-122'}"],
      ["#{I18n.t'users-edit.edit-fields.country-123'}"],
      ["#{I18n.t'users-edit.edit-fields.country-124'}"],
      ["#{I18n.t'users-edit.edit-fields.country-125'}"],
      ["#{I18n.t'users-edit.edit-fields.country-126'}"],
      ["#{I18n.t'users-edit.edit-fields.country-127'}"],
      ["#{I18n.t'users-edit.edit-fields.country-128'}"],
      ["#{I18n.t'users-edit.edit-fields.country-129'}"],
      ["#{I18n.t'users-edit.edit-fields.country-130'}"],
      ["#{I18n.t'users-edit.edit-fields.country-131'}"],
      ["#{I18n.t'users-edit.edit-fields.country-132'}"],
      ["#{I18n.t'users-edit.edit-fields.country-133'}"],
      ["#{I18n.t'users-edit.edit-fields.country-134'}"],
      ["#{I18n.t'users-edit.edit-fields.country-135'}"],
      ["#{I18n.t'users-edit.edit-fields.country-136'}"],
      ["#{I18n.t'users-edit.edit-fields.country-137'}"],
      ["#{I18n.t'users-edit.edit-fields.country-138'}"],
      ["#{I18n.t'users-edit.edit-fields.country-139'}"],
      ["#{I18n.t'users-edit.edit-fields.country-140'}"],
      ["#{I18n.t'users-edit.edit-fields.country-141'}"],
      ["#{I18n.t'users-edit.edit-fields.country-142'}"],
      ["#{I18n.t'users-edit.edit-fields.country-143'}"],
      ["#{I18n.t'users-edit.edit-fields.country-144'}"],
      ["#{I18n.t'users-edit.edit-fields.country-145'}"],
      ["#{I18n.t'users-edit.edit-fields.country-146'}"],
      ["#{I18n.t'users-edit.edit-fields.country-147'}"],
      ["#{I18n.t'users-edit.edit-fields.country-148'}"],
      ["#{I18n.t'users-edit.edit-fields.country-149'}"],
      ["#{I18n.t'users-edit.edit-fields.country-150'}"],
      ["#{I18n.t'users-edit.edit-fields.country-151'}"],
      ["#{I18n.t'users-edit.edit-fields.country-152'}"],
      ["#{I18n.t'users-edit.edit-fields.country-153'}"],
      ["#{I18n.t'users-edit.edit-fields.country-154'}"],
      ["#{I18n.t'users-edit.edit-fields.country-155'}"],
      ["#{I18n.t'users-edit.edit-fields.country-156'}"],
      ["#{I18n.t'users-edit.edit-fields.country-157'}"],
      ["#{I18n.t'users-edit.edit-fields.country-158'}"],
      ["#{I18n.t'users-edit.edit-fields.country-159'}"],
      ["#{I18n.t'users-edit.edit-fields.country-160'}"],
      ["#{I18n.t'users-edit.edit-fields.country-161'}"],
      ["#{I18n.t'users-edit.edit-fields.country-162'}"],
      ["#{I18n.t'users-edit.edit-fields.country-163'}"],
      ["#{I18n.t'users-edit.edit-fields.country-164'}"],
      ["#{I18n.t'users-edit.edit-fields.country-165'}"],
      ["#{I18n.t'users-edit.edit-fields.country-166'}"],
      ["#{I18n.t'users-edit.edit-fields.country-167'}"],
      ["#{I18n.t'users-edit.edit-fields.country-168'}"],
      ["#{I18n.t'users-edit.edit-fields.country-169'}"],
      ["#{I18n.t'users-edit.edit-fields.country-170'}"],
      ["#{I18n.t'users-edit.edit-fields.country-171'}"],
      ["#{I18n.t'users-edit.edit-fields.country-172'}"],
      ["#{I18n.t'users-edit.edit-fields.country-173'}"],
      ["#{I18n.t'users-edit.edit-fields.country-174'}"],
      ["#{I18n.t'users-edit.edit-fields.country-175'}"],
      ["#{I18n.t'users-edit.edit-fields.country-176'}"],
      ["#{I18n.t'users-edit.edit-fields.country-177'}"],
      ["#{I18n.t'users-edit.edit-fields.country-178'}"],
      ["#{I18n.t'users-edit.edit-fields.country-179'}"],
      ["#{I18n.t'users-edit.edit-fields.country-180'}"],
      ["#{I18n.t'users-edit.edit-fields.country-181'}"],
      ["#{I18n.t'users-edit.edit-fields.country-182'}"],
      ["#{I18n.t'users-edit.edit-fields.country-183'}"],
      ["#{I18n.t'users-edit.edit-fields.country-184'}"],
      ["#{I18n.t'users-edit.edit-fields.country-185'}"],
      ["#{I18n.t'users-edit.edit-fields.country-186'}"],
      ["#{I18n.t'users-edit.edit-fields.country-187'}"],
      ["#{I18n.t'users-edit.edit-fields.country-188'}"],
      ["#{I18n.t'users-edit.edit-fields.country-189'}"],
      ["#{I18n.t'users-edit.edit-fields.country-190'}"],
      ["#{I18n.t'users-edit.edit-fields.country-191'}"],
      ["#{I18n.t'users-edit.edit-fields.country-192'}"],
      ["#{I18n.t'users-edit.edit-fields.country-193'}"],
      ["#{I18n.t'users-edit.edit-fields.country-194'}"],
      ["#{I18n.t'users-edit.edit-fields.country-195'}"],
      ["#{I18n.t'users-edit.edit-fields.country-196'}"],
      ["#{I18n.t'users-edit.edit-fields.country-197'}"],
      ["#{I18n.t'users-edit.edit-fields.country-198'}"],
      ["#{I18n.t'users-edit.edit-fields.country-199'}"],
      ["#{I18n.t'users-edit.edit-fields.country-200'}"],
      ["#{I18n.t'users-edit.edit-fields.country-201'}"],
      ["#{I18n.t'users-edit.edit-fields.country-202'}"],
      ["#{I18n.t'users-edit.edit-fields.country-203'}"],
      ["#{I18n.t'users-edit.edit-fields.country-204'}"],
      ["#{I18n.t'users-edit.edit-fields.country-205'}"],
      ["#{I18n.t'users-edit.edit-fields.country-206'}"],
      ["#{I18n.t'users-edit.edit-fields.country-207'}"],
      ["#{I18n.t'users-edit.edit-fields.country-208'}"],
      ["#{I18n.t'users-edit.edit-fields.country-209'}"],
      ["#{I18n.t'users-edit.edit-fields.country-210'}"],
      ["#{I18n.t'users-edit.edit-fields.country-211'}"],
      ["#{I18n.t'users-edit.edit-fields.country-212'}"],
      ["#{I18n.t'users-edit.edit-fields.country-213'}"],
      ["#{I18n.t'users-edit.edit-fields.country-214'}"],
      ["#{I18n.t'users-edit.edit-fields.country-215'}"],
      ["#{I18n.t'users-edit.edit-fields.country-216'}"],
      ["#{I18n.t'users-edit.edit-fields.country-217'}"],
      ["#{I18n.t'users-edit.edit-fields.country-218'}"],
      ["#{I18n.t'users-edit.edit-fields.country-219'}"],
      ["#{I18n.t'users-edit.edit-fields.country-220'}"],
      ["#{I18n.t'users-edit.edit-fields.country-221'}"],
      ["#{I18n.t'users-edit.edit-fields.country-222'}"],
      ["#{I18n.t'users-edit.edit-fields.country-223'}"],
      ["#{I18n.t'users-edit.edit-fields.country-224'}"],
      ["#{I18n.t'users-edit.edit-fields.country-225'}"],
      ["#{I18n.t'users-edit.edit-fields.country-226'}"],
      ["#{I18n.t'users-edit.edit-fields.country-227'}"],
      ["#{I18n.t'users-edit.edit-fields.country-228'}"],
      ["#{I18n.t'users-edit.edit-fields.country-229'}"],
      ["#{I18n.t'users-edit.edit-fields.country-230'}"],
      ["#{I18n.t'users-edit.edit-fields.country-231'}"],
      ["#{I18n.t'users-edit.edit-fields.country-232'}"],
      ["#{I18n.t'users-edit.edit-fields.country-233'}"],
      ["#{I18n.t'users-edit.edit-fields.country-234'}"],
      ["#{I18n.t'users-edit.edit-fields.country-235'}"],
      ["#{I18n.t'users-edit.edit-fields.country-236'}"],
      ["#{I18n.t'users-edit.edit-fields.country-237'}"],
      ["#{I18n.t'users-edit.edit-fields.country-238'}"],
      ["#{I18n.t'users-edit.edit-fields.country-239'}"],
      ["#{I18n.t'users-edit.edit-fields.country-240'}"],
      ["#{I18n.t'users-edit.edit-fields.country-241'}"],
      ["#{I18n.t'users-edit.edit-fields.country-242'}"],
      ["#{I18n.t'users-edit.edit-fields.country-243'}"],
      ["#{I18n.t'users-edit.edit-fields.country-244'}"],
      ["#{I18n.t'users-edit.edit-fields.country-245'}"],
      ["#{I18n.t'users-edit.edit-fields.country-246'}"],
      ["#{I18n.t'users-edit.edit-fields.country-247'}"],
      ["#{I18n.t'users-edit.edit-fields.country-248'}"],
      ["#{I18n.t'users-edit.edit-fields.country-249'}"]
    ], :prompt=>"#{I18n.t'users-edit.edit-fields.country-prompt'}"%>
  </div><br><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="user_edit_form_submit"><%= f.submit "#{I18n.t'users-edit.edit-fields.confirm'} changes" %> </div>
<% end %><br>

<div class="user_edit_back"><%= link_to "#{I18n.t'users-edit.back'}", :back %> </div><br><br><br><br><br>

<!--
<div class="user_edit_unhappy"><%= mail_to 'nina.breznik@sosed.si', 'Niste zadovoljni? Povejte nam, zakaj. Dali bomo vse od sebe, da najdemo rešitev.' %> </div>
  <div class="user_edit_button_cancel_account">
    <%= button_to "#{I18n.t'users-edit.cancel-account-button'}", registration_path(resource_name), data: { confirm: "#{I18n.t'users-edit.sure'}"}, method: :delete %>
  </div> -->
</div>


</div>
