<!-- :html => { :multipart => true } -->
<div class="body_devise_users_edit">
  <div class="user_edit">
<div class="user_edit_title">
  <%= I18n.t'users-edit.edit-title' %>
</div>

<%= form_for(resource, as: resource_name, url: users_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="user_edit_form_email">
    <br><%= f.label :"Kontaktna oseba (ime in priimek)" %><br>
    <%= f.text_field :first_name%>
    <%= f.text_field :surname%></div><br>

  <div class="user_edit_form_email"><%= f.label :"Pripnite profilno fotko" %><br>
    <%= f.file_field :picture %></div><br>

  <div class="user_edit_form_email"><%= f.label :"Podjetje" %><br>
  <%= f.text_field :company %></div><br>

   <div class="user_edit_form_email">
    <%= f.label :"Področje in seznam storitev" %><br>
    <%= f.select :business_type, [
      ["Arhitekti & Projektanti", "Arhitekti & Projektanti"], 
      ["Izvajalci splošnih gradbenih del", "Izvajalci splošnih gradbenih del"],
      ["Zidarji", "Zidarji"], 
      ["Notranji oblikovalci & Dekoraterji", "Notranji oblikovalci & Dekoraterji"], 
      ["Arhitekti in Projektanti kuhinj & kopalnic", "Arhitekti in Projektanti kuhinj & kopalnic"], 
      ["Renoviranje kuhinj & kopalnic", "Renoviranje kuhinj & kopalnic"], 
      ["Načrtovalci okolice", "Načrtovalci okolice"], 
      ["Urejanje okolice", "Urejanje okolice"], 
      ["Kamen, tlakovci & beton", "Kamen, tlakovci & beton"], 
      ["Keramika, kamen & marmor", "Keramika, kamen & marmor"]
    ], :prompt=>"Izberite vaše glavno področje"%> 
    <%= f.text_field :service%>
  </div><br>

  <div class="user_edit_form_email"><%= f.label :"Bio - kratka predstavitev podjetja" %><br />
  <%= f.text_area :bio%></div><br>

  <div class="user_edit_form_email"><%= f.label :"Telefon" %><br>
  <%= f.text_field :phone %></div><br>

  <div class="user_edit_form_email"><%= f.label :"Davčna številka" %><br>
  <%= f.text_field :tax_id %></div><br>

  <div class="user_edit_form_email"><%= f.label :"Spletna stran" %><br>
  <%= f.text_field :website %></div><br>

  <div class="user_edit_form_email"><%= f.label :"Kraj" %><br />
  <%= f.text_field :city%></div><br><br><br>

  <div class="user_edit_form_email"><%= f.label :"Če želite predstavitev tudi na tujem trgu, dodajte še:" %></div><br>
  <div class="user_edit_form_email"><%= f.label :"Katere storitve nudite (v angleščini)" %><br/>
  <%= f.text_field :de_service%></div>
  <div class="user_edit_form_email"><%= f.label :"Bio - kratka predstavitev (v angleščini)" %><br />
  <%= f.text_area :de_bio %></div><br><br><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="user_edit_form_current_password">
  <%= f.label :"Vaše geslo (nujno za potrditev sprememb)" %> <br>
  <%= f.password_field :current_password, autocomplete: "off" %></div><br><br>


 ............................................................<br><br>
  <div class="user_edit_form_password">
    <%= f.label :"Novo geslo" %> - pustite prazno, če ne želite spreminjati <br>
    <%= f.password_field :password, autocomplete: "off" %><br><br>
    <%= f.label :"Potrditev novega gesla" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
............................................................<br> <br><br>

  <div class="user_edit_form_submit"><%= f.submit "POTRDITE" %> </div>
<% end %><br>

<div class="user_edit_back"><%= link_to "#{I18n.t'users-edit.back'}", :back %> </div><br><br><br><br><br>


<div class="user_edit_unhappy"><%= mail_to 'nina.breznik@sosed.si', 'Niste zadovoljni? Povejte nam, zakaj. Dali bomo vse od sebe, da najdemo rešitev.' %> </div>
  <div class="user_edit_button_cancel_account">
    <%= button_to "#{I18n.t'users-edit.cancel-account-button'}", registration_path(resource_name), data: { confirm: "#{I18n.t'users-edit.sure'}"}, method: :delete %>
  </div>
</div>


</div>