<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dobrodošli na <%= link_to "Sosed.biz", root_url %>, </h2>
    <p>
      Uspešno ste se registrirali z uporabniškim imenom: <%= @user.email %>.<br>
    </p>
    <%- if @pass %>
      <p>
        Vaše začasno geslo je: <%= @pass %>
      </p>
      <p>
        Predlagamo vam, da ga ob naslednji prijavi v aplikacijo zamenjate!
      </p>
    <%- end %>
    <p>
      Za prijavo v aplikacijo kliknite na <%= link_to "to povezavo", new_user_session_url %>.
    </p>
    <p>
      Hvala, da ste se nam pridružili. Za kakršnakoli vprašanja sem vam vedno na voljo! 
      <br><br>Lep dan še naprej.
    </p>
      <br>
    <p>Nina Breznik, <%= link_to "Sosed.biz", root_url %></p>
  </body>
</html>
