<div class="conversations_title"><h2>Conversation:</h2></div>
<div class="conversation_subject">
  <h3><%= conversation.subject %></h3>
</div>
<ul>
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>
    <div class="conversation_message_sender">
      <h3><%= message.sender.email %></h3>
    </div>
    <p>
      <%= message.body %> 
      | <%= message.updated_at.strftime("%d.%m. ob %H:%M") %>
    </p>
  <% end %>
</ul>

<%= render 'conversations/reply_form', conversation: conversation %>
<br>
<br>
<%= link_to "Nazaj na Prejeto pošto", conversations_url %>