ALL
<div class="conversations_title">Conversations</div>
<h2>Conversations</h2>
<ul>
  <%= render collection: mailbox.conversations, partial: 'conversation' %>
</ul>
<br>
<br>
CURRENT
<div class="conversation_subject">
  <%= conversation.subject %>
</div>
<ul>
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>
    <div class="conversation_message_sender">
      <%= message.sender.email %>
    </div>
    <p>
      <%= message.body %> 
      | <%= message.updated_at.strftime("%d.%m. ob %H:%M") %>
    </p>
  <% end %>
</ul>

<%= render 'conversations/reply_form', conversation: conversation %>
