
<div class="body_users_index">
<div class="columns" id="main" role="main">
<ol id="filters">
  <li data-filter='Architects & Building Designers'>
    <%= I18n.t'users-index.field-1'%> (<%=@architects_count%>)
  </li>
  <li data-filter="Interior Designers & Decorators">
    <%= I18n.t'users-index.field-4'%> (<%=@designers_count%>)
  </li>
  <li data-filter="Kitchen and Bathroom Designers & Fitters">
    <%= I18n.t'users-index.field-5'%> (<%=@kitchen_bathroom_architects_count%>)
  </li>
  <li data-filter="Kitchen and Bathroom Renovators">
    <%= I18n.t'users-index.field-6'%> (<%= @kitchen_bathroom_renovators_count %>)
  </li>
  <li data-filter="Landscape Architects & Garden Designers">
    <%= I18n.t'users-index.field-7'%> (<%=@landscape_planning_count%>)
  </li>
  <li data-filter="Landscape Contractors">
    <%= I18n.t'users-index.field-8'%> (<%=@landscape_maintainance_count  %>)
  </li>
  <li data-filter="General Home Builders">
    <%= I18n.t'users-index.field-2'%> (<%=@constructions_count%>)
  </li>
  <li data-filter="Masonry">
    <%= I18n.t'users-index.field-3'%> (<%=@builders_count%>)
  </li>
  <li data-filter="Stone, Paving & Concrete">
    <%= I18n.t'users-index.field-9'%> (<%=@stone_count%>)
  </li>
  <li data-filter="Cheramics, Stone & Marble">
    <%= I18n.t'users-index.field-10'%> (<%=@ceramics_count%>)
  </li>
  <li data-filter="Other">
    <%= I18n.t'users-index.field-11'%> (<%=@other_count%>)
  </li>
</ol>
<ul id="tiles" class="wookmark">
<% if @users.present? %>
  <% @sorted_users.each do |user| %>
  <div class="lead_box" data-filter-class='["<%= user.business_type %>"]' >
    <div class="lead_title"><%= link_to "#{user.company}", user_path(user) %></div>
    <div class="lead_body">
      <div class="lead_subtitle_image" ></div>
        <%= link_to "#{image_tag user.picture.url(:medium), :width => '287'}".html_safe, user_path(user) %> <br><br>
      <% if user.business_type.present? %>
        <div class="lead_subtitle">Type:</div>
         <%= user.business_type %><br><br>
      <% end %>
      <% if user.country.present? %>
        <div class="lead_subtitle">Country:</div>
         <%= user.country %>
           <br><br>
      <% end %>
      <% if user.projects.any? %>
        <div class="lead_subtitle">
          Projects:
        </div><br>
        <% user.projects.each do |project| %>
          <li><%=link_to "#{image_tag project.picture.url(:thumb), :width => "25"} #{project.title}".html_safe, project_path(project) %></li><br><br>
        <% end %>
      <% end %>
      <% if user_signed_in? && current_user != user %>
            <div class="lead_subtitle"></div>
              <div class="project_show_send_message">
                <%=image_tag current_user.picture.url(:thumb), :width =>"25" %>
                <%= form_for :conversation, url: :conversations do |f| %>
                  <%= f.text_field :recipients, type: "hidden", value: "#{user.email}" %>
                  <%= f.text_field  :subject, type: "hidden", value: "Hi"  %>
                  <%= f.text_area  :body, as: :text, placeholder: "#{I18n.t'user-show.contact-provider'}" %>
                  <div class="project_show_send_message_button">
                    <%= f.button :"#{I18n.t'user-show.send-message.submit'}" %>
                  </div>
                <% end %>
              </div>
          <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
