
<div class="body_users_index">
<div class="columns" id="main" role="main">
<div class="users_container">
  <div class="users_container_title">
    Experts For Hire
    <br>
    <br>
    View freelancers' profiles and chat with them!
  </div>
</div>
<ol id="filters">
  <li data-filter='Architects & Building Designers'>
    <%= I18n.t'users-index.field-1'%>
  </li>
  <li data-filter="Interior Designers & Decorators">
    <%= I18n.t'users-index.field-4'%>
  </li>
  <li data-filter="Kitchen and Bathroom Designers & Fitters">
    <%= I18n.t'users-index.field-5'%>
  </li>
  <li data-filter="Kitchen and Bathroom Renovators">
    <%= I18n.t'users-index.field-6'%>
  </li>
  <li data-filter="Landscape Architects & Garden Designers">
    <%= I18n.t'users-index.field-7'%>
  </li>
  <li data-filter="Landscape Contractors">
    <%= I18n.t'users-index.field-8'%>
  </li>
  <li data-filter="General Home Builders">
    <%= I18n.t'users-index.field-2'%>
  </li>
  <li data-filter="Masonry">
    <%= I18n.t'users-index.field-3'%>
  </li>
  <li data-filter="Stone, Paving & Concrete">
    <%= I18n.t'users-index.field-9'%>
  </li>
  <li data-filter="Cheramics, Stone & Marble">
    <%= I18n.t'users-index.field-10'%>
  </li>
  <li data-filter="Interior & Exterior Photographers">
    <%= I18n.t'users-index.field-11'%>
  </li>
  <li data-filter="Other">
    <%= I18n.t'users-index.field-12'%>
  </li>
</ol>
<ul id="tiles" class="wookmark">
<% if @users.present? %>
  <% @sorted_users.each do |user| %>
  <div class="lead_box" data-filter-class='["<%= user.business_type %>"]' >
    <div class="lead_title"><%= link_to "#{user.company}", user_path(user) %></div>
    <div class="lead_body">
      <div class="lead_subtitle_image" ></div>
        <%= link_to "#{image_tag user.picture.url(:medium), :width => '287'}".html_safe, user_path(user) %>
        <br>
        <% if user.country.present? && user.city.present? %>
          <div class="lead_subtitle" >
            <i class="fa fa-map-marker"></i>
            <%= user.city %>, <%= user.country %>
          </div>
        <% end %>
        <% if user.service.present? %>
            <%= user.service %>
        <% end %>
        <br>
        <br>
        <% if user_signed_in? && current_user != user %>
              <div class="lead_subtitle"></div>
                <div class="project_show_send_message">
                  <%= form_for :conversation, url: :conversations do |f| %>
                    <%= f.text_field :recipients, type: "hidden", value: "#{user.email}" %>
                    <%= f.text_field  :subject, type: "hidden", value: "Hi"  %>
                    <%= f.text_area  :body, as: :text, placeholder: "#{I18n.t'user-show.contact-provider'}" %>
                    <div class="project_show_send_message_button">
                      <%= f.button :"#{I18n.t'user-show.send-message.submit'}" %>
                    </div>
                  <% end %>
                </div>
            <% end %>
        <br>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
