<div class="body_leads_index">

<div class="columns">

<ul class="wookmark">
<% if @user.present? %>
  <div class="lead_box">
    <div class="lead_title"><%= @user.company %> </div>     
    <div class="lead_body">
      <div class="lead_subtitle">Storitve:</div>          
        <%= @user.business_type %><br>
      <div class="lead_subtitle" ></div>
        <%= image_tag @user.picture.url(:thumb)%>  <br>
      <div class="lead_subtitle">Kontakt:</div>          
        <%= @user.first_name %> <%= @user.surname %><br>
      <div class="lead_subtitle">Lokacija:</div>         
        <%= @user.city %><br><br>
      <div class="lead_subtitle">Bio:</div>         
        <%= @user.bio %><br><br>
      <div class="lead_subtitle">Storitve:</div>          
        <%= @user.service %> <br>
        <div class="lead_subtitle">Telefon:</div>          
        <%= @user.phone %> <br>
        <div class="lead_subtitle">Spletna stran:</div>          
        <%= link_to "#{@user.website}", "http://#{@user.website}" %><br>
        <div class="lead_subtitle">Davčna številka:</div>          
        <%= @user.tax_id %>
    </div>
  </div> 
  <% Project.all.where(user_id: @user.id).each do |project| %>
    <div class="lead_box">
      <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>     
      <div class="lead_body">
        <div class="lead_subtitle"></div>
          <%= image_tag project.picture.url(:medium), :width => "250"  %> <br>
        <!-- <div class="lead_subtitle">Avtor:</div>          
          <%= project.email %><br>
        <div class="lead_subtitle">Opis:</div>         
          <%= project.description %><br> -->
      </div>
    </div>        
  <% end %>
<% end %>
</ul>
</div>
</div>





<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>