<div class="body_users_index">

<div class="columns">

<ul class="wookmark">
<% if @user.present? %>
    <div class="lead_box">
      <% if @user.company.present? %>
        <div class="lead_title"><%= @user.company %> </div> 
      <% end %> 
      <div class="lead_body">
        <div class="lead_subtitle" ></div>
          <%= link_to "#{image_tag @user.picture.url(:thumb)}".html_safe, user_path(@user) %><br>

        <% if @user.country.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.country'%>:</div>
            <i class="fa fa-map-marker"></i> <%= @user.country %><br>
        <% end %>

        <% if @user.city.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.city'%>:</div>
            <i class="fa fa-map-marker"></i> <%= @user.city %><br><br>
        <% end %>

        <% if @user.business_type.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.business_type'%>:</div>
            <%= @user.business_type %><br>
        <% end %>

        <% if @user.service.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.services'%>:</div>
            <%= @user.service %> <br>
        <% end %>

        <% if @user.hourly_rate.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.hourly-rate'%>:</div>
            <%= @user.hourly_rate %>€/h <br><br>
        <% end %>

        <% if @user.bio.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.bio'%>:</div>
            <%= @user.bio %><br><br>
        <% end %>

        <% if @user.website.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.link'%>:</div>
          <%= link_to "#{@user.website}", "http://#{@user.website.split('http://').last}" %>
        <% end %><br>

        <% if @user.first_name.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.name'%>:</div>
            <%= @user.first_name %> <%= @user.surname %><br>
        <% end %>

        <% if @user.phone.present? %>
            <div class="lead_subtitle"><%=I18n.t'user-show.phone'%>:</div>
            <%= @user.phone %> <br>
        <% end %>
        <% if @user.tax_id.present? %>
          <div class="lead_subtitle"><%=I18n.t'user-show.tax-id'%>:</div>
          <%= @user.tax_id %><br>
        <% end %>
          <br>
          <% if user_signed_in? && current_user != @user %>
            <div class="lead_subtitle"></div>
              <div class="project_show_send_message">
                <%=image_tag current_user.picture.url(:thumb), :width =>"25" %>
                <%= form_for :conversation, url: :conversations do |f| %>
                  <%= f.text_field :recipients, type: "hidden", value: "#{@user.email}" %>
                  <%= f.text_field  :subject, type: "hidden", value: "#{current_user.email} vam pošilja sporočilo"  %>
                  <%= f.text_area  :body, as: :text, placeholder: "#{I18n.t'user-show.send-message.placeholder'}" %>
                  <div class="project_show_send_message_button">
                    <%= f.button :"#{I18n.t'user-show.send-message.submit'}" %>
                  </div>
                <% end %>
              </div>
          <% elsif user_signed_in? && current_user == @user %>
          <br>
            <div class="project_show_send_message">
              <%= link_to "#{I18n.t'user-show.edit-profile'}", edit_user_registration_path %>
            </div>
          <% else %>
            <div class="project_show_send_message">
              <i class='fa fa-envelope-o'></i>
              <%= link_to "#{I18n.t'user-show.contact-provider'}", new_user_session_path %>
            </div>
          <% end %>
      </div>
    </div>
  <% Project.all.where(user_id: @user.id).each do |project| %>
    <div class="lead_box">
      <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>
      <div class="lead_body">
        <div class="lead_subtitle"></div>
          <%= link_to "#{image_tag project.picture.url(:large), :width => '335'}".html_safe, project_path(project) %> <br>
        <div class="lead_subtitle"></div>
        <% if current_user.present? %>
          <% if @likes.where(likee_id: project.id, likeable_id: current_user.id).count == 0 %>
                  <%= form_for(current_user.likes.build(likee_id: project.id)) do |l| %>
                    <%= l.hidden_field :likee_id %>
                    <%= l.button do %>
                      <% if @likes.where(likee_id: project.id).count == nil %>
                        <i class="fa fa-heart-o"></i>
                      <% else %>
                        <i class="fa fa-heart-o"></i> <%= @likes.where(likee_id: project.id).count %>
                      <% end %>
                    <% end %>
                  <% end %>
          <% else %>
             <%= form_for(current_user.likes.find_by_likee_id(project.id),
                html: { method: :delete }) do |l| %>
                <%= l.button do %>
                  <% if @likes.where(likee_id: project.id).count == nil %>
                    <i class="fa fa-heart-o"></i>
                  <% else %>
                    <i class="fa fa-heart"></i> <%= @likes.where(likee_id: project.id).count %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        <% else %>
          <div class="like_heart">
            <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, new_user_session_path %>
            <%= @likes.where(likee_id: project.id).count %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</ul>
</div>

</div>
