<div class="lead_new_form_zip">
  <%= l.label :"New project title" %>
  <%= l.text_field :title %>
</div>


<div class="lead_new_form_zip">
  <%= l.label :"Select location" %>
  <%= l.select :location, [
      ["#{I18n.t'lead-new.form.country-1'}", "#{I18n.t'lead-new.form.country-1'}"],
      ["#{I18n.t'lead-new.form.country-2'}", "#{I18n.t'lead-new.form.country-2'}"],
      ["#{I18n.t'lead-new.form.country-3'}", "#{I18n.t'lead-new.form.country-3'}"],
      ["#{I18n.t'lead-new.form.country-4'}", "#{I18n.t'lead-new.form.country-4'}"],
      ["#{I18n.t'lead-new.form.country-5'}", "#{I18n.t'lead-new.form.country-5'}"],
      ["#{I18n.t'lead-new.form.country-6'}", "#{I18n.t'lead-new.form.country-6'}"],
      ["#{I18n.t'lead-new.form.country-7'}", "#{I18n.t'lead-new.form.country-7'}"],
      ["#{I18n.t'lead-new.form.country-8'}", "#{I18n.t'lead-new.form.country-8'}"],
      ["#{I18n.t'lead-new.form.country-9'}", "#{I18n.t'lead-new.form.country-9'}"],
      ["#{I18n.t'lead-new.form.country-10'}", "#{I18n.t'lead-new.form.country-10'}"],
      ["#{I18n.t'lead-new.form.country-11'}", "#{I18n.t'lead-new.form.country-11'}"],
      ["#{I18n.t'lead-new.form.country-12'}", "#{I18n.t'lead-new.form.country-12'}"],
      ["#{I18n.t'lead-new.form.country-13'}", "#{I18n.t'lead-new.form.country-13'}"],
      ["#{I18n.t'lead-new.form.country-14'}", "#{I18n.t'lead-new.form.country-14'}"],
      ["#{I18n.t'lead-new.form.country-15'}", "#{I18n.t'lead-new.form.country-15'}"],
      ["#{I18n.t'lead-new.form.country-16'}", "#{I18n.t'lead-new.form.country-16'}"],
      ["#{I18n.t'lead-new.form.country-17'}", "#{I18n.t'lead-new.form.country-17'}"],
      ["#{I18n.t'lead-new.form.country-18'}", "#{I18n.t'lead-new.form.country-18'}"],
      ["#{I18n.t'lead-new.form.country-19'}", "#{I18n.t'lead-new.form.country-19'}"],
      ["#{I18n.t'lead-new.form.country-20'}", "#{I18n.t'lead-new.form.country-20'}"],
      ["#{I18n.t'lead-new.form.country-21'}", "#{I18n.t'lead-new.form.country-21'}"],
      ["#{I18n.t'lead-new.form.country-22'}", "#{I18n.t'lead-new.form.country-22'}"],
      ["#{I18n.t'lead-new.form.country-23'}", "#{I18n.t'lead-new.form.country-23'}"],
      ["#{I18n.t'lead-new.form.country-24'}", "#{I18n.t'lead-new.form.country-24'}"],
      ["#{I18n.t'lead-new.form.country-25'}", "#{I18n.t'lead-new.form.country-25'}"],
      ["#{I18n.t'lead-new.form.country-26'}", "#{I18n.t'lead-new.form.country-26'}"],
      ["#{I18n.t'lead-new.form.country-27'}", "#{I18n.t'lead-new.form.country-27'}"],
      ["#{I18n.t'lead-new.form.country-28'}", "#{I18n.t'lead-new.form.country-28'}"],
      ["#{I18n.t'lead-new.form.country-29'}", "#{I18n.t'lead-new.form.country-29'}"]
    ], :prompt=>"Location"%>
</div>


<!-- <div class="lead_new_form_business_type">
  <%= l.select :business_type, [
      ["GENERAL ITEMS"],
      ["EARTHWORKS"],
      ["ROOMS DEMOLITION WITH DISPOSAL"],
      ["FLOOR'}"],
      ["WALLS AND CEILING"],
      ["ELECTRO"],
      ["(RE)PAINTING"],
      ["CUSTOM PRODUCTS"],
      ["#{I18n.t'lead-new.form.business-types.field-6'}"],
      ["#{I18n.t'lead-new.form.business-types.field-7'}"],
      ["#{I18n.t'lead-new.form.business-types.field-8'}"],
      ["#{I18n.t'lead-new.form.business-types.field-9'}"],
      ["#{I18n.t'lead-new.form.business-types.field-10'}"]
    ], :prompt=>"Pick a service"%>  <br>
</div>

<div class="lead_new_form_time">
  <%= l.select :time, @time, {:prompt=>"#{I18n.t'lead-new.form.prompt-time'}"}%> <br>
</div>
<div class="lead_new_form_description">
  <%= l.label :"#{I18n.t'lead-new.form.description'}" %>
  <%= l.text_area :description %>
</div>
<!-- <div class="lead_new_form_description">
  <%= l.file_field :picture %>
</div><br> --> -->
