<!-- <div class="lead_box">
  <div class ="lead_title">
    <%= @lead_business_type %> 
  </div>
  <div class="lead_body">
    <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     
      <%= @lead_location %>   <br>
    <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          
      <%= @lead_zip %>        <br>
    <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         
      <%= @lead_time %>       <br>
    <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  
      <%= @lead_description %><br>
    <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        
      <%= @lead_name %>       <br>
    <div class="lead_subtitle"> Aktualizirano:</div>        
      <%= @lead_updated %> <br>
    <% if user_signed_in? %>
      <% if lead_reverse_orders.where(selector_id: current_user.id, paid: true).any? %>
        <div class="lead_subtitle">Stranko ste že kontaktirali.</div>   
      <% else %>     
        <div class="lead_subtitle"> Št.zakupov:</div>
        <%= @lead_orders_count %> <br>
      <% end %>
    <% end %>
  </div>
</div>

 -->