<div class="lead_new_title">
  <%= I18n.t'lead-new.title' %>
</div>
<div class="lead_new_instructions">
  Please,  add your contact information.
</div>
<div class="lead_new_title">
  Step 2/2
</div>
<% if user_signed_in? %>
  <div class="lead_new_form_name">
    <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
    <%= l.text_field :name, value: "#{current_user.email.split("@")[0]}" %>
  </div>
  <%= l.text_field :email, type: "hidden", value: "#{current_user.email}" %>
<% else %>
  <div class="lead_new_form_name">
    <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
    <%= l.text_field :name %>
  </div>
    <div class="lead_new_form_email">
      <%= l.label :"#{I18n.t'lead-new.form.email'}" %>
      <%= l.text_field :email %>
    </div>
<% end %>

<br>
<div class="lead_new_form_description">
  <%= l.label :"Is there anything else we need to know?" %>
  <%= l.text_area :description %>
</div>
