<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>  <%= I18n.t'lead-new.explanation-1'%></div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>  <%= I18n.t'lead-new.explanation-2'%></div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i>  <%= I18n.t'lead-new.explanation-3'%></div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      <%= I18n.t'lead-new.title' %>
    </div>
    <div class="lead_new_instructions">
      <%= I18n.t'lead-new.instructions' %>
    </div>

    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "#{I18n.t'lead-new.back'}", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "#{I18n.t'lead-new.next'}" unless @lead.last_step? %>
        <%= l.submit "#{I18n.t'lead-new.submit'}" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    <%= I18n.t'lead-new.paragraph-1' %>
  </div>
  <div class="lead_new_we_help_categories_title">
    <%= I18n.t'lead-new.paragraph-2' %>
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-1'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-2'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-3'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-4'%></i>  
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-5'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-6'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-7'%></i>
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-8'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-9'%></i> 
    <i class="fa fa-check-square-o"> <%= I18n.t'lead-new.field-10'%></i>  
  </div>
</section> 
<section class="lead_new_company_info">
<br><br>
    <div class="lead_new_company_info_contact"><%=I18n.t'staticpages-info.company.name'%></div>
    <div class="lead_new_company_info_contact"><%=I18n.t'staticpages-info.company.tax-id'%></div>
    <div class="lead_new_company_info_contact"><%=I18n.t'staticpages-info.company.bank-account'%></div>
    <div class="lead_new_company_info_contact"><%=I18n.t'staticpages-info.company.email'%></div>
    <a href="https://www.facebook.com/ZweiDesign" target="_blank" style="color:#606060;" title="#{I18n.t'staticpages-info.facebook'}"><i class="fa fa-facebook-square fa-2x"></i></a>
  </section>