<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_title">
    <%= I18n.t'lead-new.explanation-1'%>
    </div>
    <div class="lead_new_explanation_browse_providers">
      <%= link_to "#{I18n.t'lead-new.explanation-3'}", users_path %>
    </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      <%= I18n.t'lead-new.title' %>
    </div>
    <div class="lead_new_instructions">
      <%= I18n.t'lead-new.instructions' %>
    </div>

    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "#{I18n.t'lead-new.back'}", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "#{I18n.t'lead-new.next'}" unless @lead.last_step? %>
        <%= l.submit "#{I18n.t'lead-new.submit'}" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
</div>