<div class="body_leads_show">
  <% if @lead.present? %>
    <div class="lead_show">
      <% if @lead.title.present? %>
        <div class="lead_show_title">
          <%=link_to "#{@lead.title}, #{@lead.location}", user_path(@lead.user) %>
        </div>
      <% end %>
      <div class="lead_show_body">
        <div class="lead_show_items_short">
          <div class="lead_show_item">
            <div class="lead_show_subtitle"></div>
            <%=link_to "#{image_tag @lead.picture.url(:full)}".html_safe, user_path(@lead.user) %><br>
          </div>
        </div>
    </div>
  <% else %>
    This lead isn't available.
  <% end %>
  <div class="lead_new">
    <%= form_for @service, :url => services_path, :html => { :multipart => true } do |l| %>
      <div class="lead_new_form_zip">
        <%= l.label :"Service name" %>
        <%= l.text_field :title %>
      </div>
      <div class="lead_new_form_submit">
        <%= l.submit "Save" %>
      </div>
    <% end %>
  </div>
  <div class="lead_new">
    <%= form_for @task, :url => tasks_path, :html => { :multipart => true } do |l| %>
      <div class="lead_new_form_zip">
        <%= l.label :"Task" %>
        <%= l.text_field :description %>
      </div>
      <div class="lead_new_form_submit">
        <%= l.submit "Add" %>
      </div>
    <% end %>
  </div>

</div>
