<div class="body_orders_address_book">
<% if user_signed_in? && @orders.where(selector_id: current_user.id, paid:true).count == 0 %>
 <%= render 'orders/body_dummy_orders_address_book' %>
  <div class="address_book_link_to_signup">
    <%= I18n.t'ordersindex-notifications.signed_in_but_no_bought' %>
  </div>
  <% elsif user_signed_in? && @orders.present? %>
  <div class="columns">
    <ul class="wookmark">
      <% @orders.where(selector_id: current_user.id, paid: true).sort.reverse.each do |order| %>
        <div class="lead_box">
          <div class ="address_book_lead_title">
            <%= order.selected.business_type %>
          </div>
          <div class="address_book_lead_body">
            <div class="address_book_lead_subtitle">
            <%= order.selected.location %> </div>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.zip' %>:</div><%= order.selected.zip %>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.description' %>:</div><%= order.selected.description %>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.time' %>:</div> <%= order.selected.time %>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.name' %>:</div> <%= order.selected.name %>
            <br>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.phone' %>:</div> <%= order.selected.phone %>
            <div class="address_book_lead_subtitle">
              <%= I18n.t'ordersindex-lead.email' %>:</div> <%= order.selected.email %>
          </div>
          <div class="project_show_send_message">
            <%=image_tag current_user.picture.url(:thumb), :width =>"25" %>
            <%= form_for :conversation, url: :conversations do |f| %>
              <%= f.text_field :recipients, type: "hidden", value: "Hi" %>
              <%= f.text_field  :subject, type: "hidden", value: "Hi" %>
              <%= f.text_area  :body, as: :text, placeholder: "Send a message to the customer" %>
              <div class="project_show_send_message_button">
                <%= f.button :"#{I18n.t'user-show.send-message.submit'}" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </ul>
</div>
<% else %>
 <%= render 'orders/body_dummy_orders_address_book' %>
    <div class="address_book_link_to_signup">
    <%= I18n.t'ordersindex-notifications.to-see-address-book' %>
    <%= link_to "#{I18n.t'ordersindex-buttons.signup'}",
    new_user_registration_path, :class=>"address_book_signup" %> /
    <%= link_to "#{I18n.t'ordersindex-buttons.login'}",
    new_user_session_path, :class=>"address_book_signin" %>.
  </div>
<% end %>
</div>
