<div class="body_project_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    Make it work
  </div>
  <div class="index_welcome_message_subtitle">
    Find right professionals for your home or office
  </div>
  <video class="video" autoplay loop muted="muted" >
    <source src="/videos/zd-movie.mp4" type="video/mp4", codecs="avc1.42E01E, mp4a.40.2">
  </video>
</div>
<div class="index_container">
  <div class="index_container_title">
    Browse succesfully finished projects
  </div>
  <div class="index_container_subtitle">
    Renovating your home, office or other interesting space? Need inspiration, feedback or concepts from talented professionals? Start new renovation and let us find the right professionals for you!
  </div>
</div>
<ol id="filters">

  <li data-filter='Architects & Building Designers'>
    <%= I18n.t'users-index.field-1'%>
  </li>
  <li data-filter="Interior Designers & Decorators">
    <%= I18n.t'users-index.field-4'%>
  </li>
  <li data-filter="Kitchen and Bathroom Designers & Fitters">
    <%= I18n.t'users-index.field-5'%>
  </li>
  <li data-filter="Kitchen and Bathroom Renovators">
    <%= I18n.t'users-index.field-6'%>
  </li>
  <li data-filter="Landscape Architects & Garden Designers">
    <%= I18n.t'users-index.field-7'%>
  </li>
  <li data-filter="Landscape Contractors">
    <%= I18n.t'users-index.field-8'%>
  </li>
  <li data-filter="General Home Builders">
    <%= I18n.t'users-index.field-2'%>
  </li>
  <li data-filter="Masonry">
    <%= I18n.t'users-index.field-3'%>
  </li>
  <li data-filter="Stone, Paving & Concrete">
    <%= I18n.t'users-index.field-9'%>
  </li>
  <li data-filter="Cheramics, Stone & Marble">
    <%= I18n.t'users-index.field-10'%>
  </li>

</ol>

<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.user.business_type%>"]' >
    <!-- <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>      -->
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:medium), :width => '287'}".html_safe, project_path(project) %> <br><br>
      <div class="lead_subtitle"></div>
        <%=link_to "#{image_tag project.user.picture.url(:thumb), :width => "20"} #{project.user.company}".html_safe, user_path(project.user) %>
      <div class="lead_subtitle"></div><br>
        <% if project.user.business_type.present? %>
          <%= project.user.business_type %>
        <% end %><br>
        <% if project.user.country.present? %>
          <i class="fa fa-map-marker"></i>
          <%= project.user.country %>
        <% end %>
      <div class="lead_subtitle"></div>
        <% if current_user.present? %>
          <% if @likes.where(likee_id: project.id, likeable_id: current_user.id).count == 0 %>
                  <%= form_for(current_user.likes.build(likee_id: project.id)) do |l| %>
                    <%= l.hidden_field :likee_id %>
                    <%= l.button do %>
                      <% if @likes.where(likee_id: project.id).count == nil %>
                        <i class="fa fa-heart-o"></i>
                      <% else %>
                        <i class="fa fa-heart-o"></i> <%= @likes.where(likee_id: project.id).count %>
                      <% end %>
                    <% end %>
                  <% end %>
          <% else %>
             <%= form_for(current_user.likes.find_by_likee_id(project.id),
                html: { method: :delete }) do |l| %>
                <%= l.button do %>
                  <% if @likes.where(likee_id: project.id).count == nil %>
                    <i class="fa fa-heart-o"></i>
                  <% else %>
                    <i class="fa fa-heart"></i> <%= @likes.where(likee_id: project.id).count %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        <% else %>
          <div class="like_heart">
            <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, new_user_session_path %>
            <%= @likes.where(likee_id: project.id).count %>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
