<div class="body_project_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    Zwei Design
  </div>
  <div class="index_welcome_message_subtitle">
    Hire freelance Architects, Interior Designers and Construction experts for your job.
    <br>
    <div class="index_welcome_button">
      <%= link_to "HIRE", info_path %>
      <% if current_user.present? %>
        <%= link_to "WORK", leads_path %>
      <% else %>
        <%= link_to "WORK", membership_path %>
      <% end %>
    </div>
  </div>
  <!-- <video class="video" autoplay loop muted="muted" >
    <source src="/videos/zd-movie.mp4" type="video/mp4", codecs="avc1.42E01E, mp4a.40.2">
  </video> -->
</div>
<div class="index_container">
  <div class="index_container_title">
    Need to get work done? Click 'Find & Hire' to get started!
    <br>
    <br>
    We have experts representing every technical, professional and creative field, providing a full range of solutions. Just give us the details of your project and our freelancers will get it done faster, better, and cheaper than you can imagine.
    <br>Your jobs can be as big or small as you like, they can be fixed price or hourly, and you can specify the schedule, cost range, and milestones.
  </div>
  <br>
  <br>
  <br>
  <div class="index_container_title">
    BROWSE SOME SUCCESFULLY FINISHED PROJECTS
  </div>
</div>
<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.user.business_type%>"]' >
    <!-- <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>      -->
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:large), :width => '287'}".html_safe, project_path(project) %> <br>
      <br>
      <div class="lead_subtitle"></div>
          <% if project.user.business_type.present? %>
            <div class="lead_subtitle_button">
              <%= link_to "#{project.user.business_type}", users_path %>
            </div>
            <br>
          <% end %>
          <div class="lead_subtitle_button">
          <%=link_to "#{image_tag project.user.picture.url(:thumb), :height => "15"} #{project.user.company}".html_safe, user_path(project.user) %>
        </div>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
<div class="index_welcome_see_profiles">
  <%= link_to "SEE FREELANCERS' PROFILES", users_path %>
</div>
