
<div class="body_project_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    Make it work
  </div>
  <div class="index_welcome_message_subtitle">
    Find right professionals for your new renovation project
  </div>
  <video class="video" autoplay loop muted="muted" >
    <source src="/videos/zd-movie.mp4" type="video/mp4">
  </video>
</div>
<div class="index_container">
  <div class="index_container_title">
    Browse succesfully finished projects 
  </div>
  <div class="index_container_subtitle">
    Renovating your start-up, co-working office or other interesting space? Need inspiration, feedback or concepts from talented professionals? Start new renovation and let us find the right professionals for you! 
  </div>
</div>
<ol id="filters">

   <li data-filter='Working area'>
    <%=I18n.t'project-index.data-filter-7'%> (<%=@filter_7_count%>)
  </li>

  <li data-filter='Lights'>
   <%=I18n.t'project-index.data-filter-16'%> (<%=@filter_16_count%>)
 </li>

 <li data-filter='Kitchen'>
 <%=I18n.t'project-index.data-filter-1'%> (<%=@filter_1_count%>)
 </li>

 <li data-filter='Dining room'>
  <%=I18n.t'project-index.data-filter-5'%> (<%=@filter_5_count %>)
</li>

  <li data-filter='Living area'>
   <%=I18n.t'project-index.data-filter-4'%> (<%=@filter_4_count%>)
 </li>

 <li data-filter='Bathroom'>
   <%=I18n.t'project-index.data-filter-2'%> (<%=@filter_2_count%>)
 </li>

  <li data-filter='Art & Decor'>
   <%=I18n.t'project-index.data-filter-17'%> (<%=@filter_17_count%>)
 </li>

 <li data-filter='Corridor'>
  <%=I18n.t'project-index.data-filter-10'%> (<%=@filter_10_count%>)
</li>

 <li data-filter='Entrance & Checkroom'>
  <%=I18n.t'project-index.data-filter-9'%> (<%=@filter_9_count%>)
</li>

 <li data-filter='Stairs'>
  <%=I18n.t'project-index.data-filter-11'%> (<%=@filter_11_count%>)
</li>

   <li data-filter='Utility & Storage'>
    <%=I18n.t'project-index.data-filter-8'%> (<%=@filter_8_count %>)
  </li>

   <li data-filter='Basement'>
    <%=I18n.t'project-index.data-filter-12'%> (<%=@filter_12_count%>)
  </li>

   <li data-filter='Garage & Hobby'>
    <%=I18n.t'project-index.data-filter-13'%> (<%=@filter_13_count%>)
  </li>

  <li data-filter='Surroundings'>
   <%=I18n.t'project-index.data-filter-15'%> (<%=@filter_15_count%>)
 </li>

   <li data-filter='Sleeping room'>
    <%=I18n.t'project-index.data-filter-3'%> (<%=@filter_3_count%>)
  </li>

   <li data-filter='Children area'>
    <%=I18n.t'project-index.data-filter-6'%> (<%=@filter_6_count %>)
  </li>

   <li data-filter='House & Facades'>
    <%=I18n.t'project-index.data-filter-14'%> (<%=@filter_14_count%>)
  </li>

</ol>

<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @sorted_projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.category%>"]' >
    <!-- <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>      -->
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:large), :width => '385'}".html_safe, project_path(project) %> <br>
      <div class="lead_subtitle"></div>
        <%=link_to "#{image_tag project.user.picture.url(:thumb), :width => "20"} #{project.user.company}".html_safe, user_path(project.user) %>
      <div class="lead_subtitle"></div>
        <% if current_user.present? %>
          <% if @likes.where(likee_id: project.id, likeable_id: current_user.id).count == 0 %>
                  <%= form_for(current_user.likes.build(likee_id: project.id)) do |l| %>
                    <%= l.hidden_field :likee_id %>
                    <%= l.button do %>
                      <% if @likes.where(likee_id: project.id).count == nil %>
                        <i class="fa fa-heart-o"></i>
                      <% else %>
                        <i class="fa fa-heart-o"></i> <%= @likes.where(likee_id: project.id).count %>
                      <% end %>
                    <% end %>
                  <% end %>
          <% else %>
             <%= form_for(current_user.likes.find_by_likee_id(project.id),
                html: { method: :delete }) do |l| %>
                <%= l.button do %>
                  <% if @likes.where(likee_id: project.id).count == nil %>
                    <i class="fa fa-heart-o"></i>
                  <% else %>
                    <i class="fa fa-heart"></i> <%= @likes.where(likee_id: project.id).count %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        <% else %>
          <div class="like_heart">
            <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, new_user_session_path %>
            <%= @likes.where(likee_id: project.id).count %>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
