
<div class="body_leads_index">


<div class="columns" id="main" role="main">
<ol id="filters">
  <li data-filter='Kuhinja'>
    Kuhinja (<%=@kuhinja_count%>)
  </li>
  <li data-filter='Kopalnica'>
    Kopalnica (<%=@kopalnica_count%>)
  </li>
  <li data-filter='Spalnica'>
    Spalnica (<%=@spalnica_count%>)
  </li>
  <li data-filter='Dnevni prostor'>
    Dnevni prostor (<%=@dnevni_prostor_count%>)
  </li>
  <li data-filter='Jedilnica'>
    Jedilnica (<%=@jedilnica_count %>)
  </li>
  <li data-filter='Otroški prostor'>
    Otroški prostor (<%=@otroski_prostor_count %>)
  </li>
  <li data-filter='Delovni prostor'>
    Delovni prostor (<%=@delovni_prostor_count%>)
  </li>
  <li data-filter='Prostor za shranjevanje'>
    Utility & shramba (<%=@shranjevanje_count %>)
  </li>
  <li data-filter='Vhod in garderoba'>
    Vhod & garderoba (<%=@vhod_in_garderoba_count%>)
  </li>
  <li data-filter='hodnik'>
    Hodnik (<%=@hodnik_count%>)
  </li>
  <li data-filter='Stopnišče'>
    Stopnišče (<%=@stopnisce_count%>)
  </li>
  <li data-filter='Klet'>
    Klet (<%=@klet_count%>)
  </li>
  <li data-filter='Garaža in hobi prostor'>
    Garaža (<%=@garaza_in_hobi_count%>)
  </li>
  <li data-filter='Hiša in fasade'>
    Hiša & fasade (<%=@hisa_in_fasade_count%>)
  </li>
  <li data-filter='Okolica'>
    Okolica (<%=@okolica_count%>)
  </li>
  <li data-filter='Svetila'>
    Svetila (<%=@svetila_count%>)
  </li>
  <li data-filter='Dekor'>
    Hobi & dekor (<%=@dekor_count%>)
  </li>
</ol>
 
<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @sorted_projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.category%>"]' >
    <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>     
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:full), :width => '287'}".html_safe, project_path(project) %> <br>
      <div class="lead_subtitle"></div>
        <%=link_to "#{image_tag project.user.picture.url(:thumb), :width => "20"} #{project.user.company}".html_safe, user_path(project.user) %>
      <div class="lead_subtitle"></div>
        <% if current_user.present? %>
          <% if @likes.where(likee_id: project.id, likeable_id: current_user.id).count == 0 %>
                  <%= form_for(current_user.likes.build(likee_id: project.id)) do |l| %>
                    <%= l.hidden_field :likee_id %>       
                    <%= l.button do %>
                      <% if @likes.where(likee_id: project.id).count == nil %>
                        <i class="fa fa-heart-o"></i>
                      <% else %>
                        <i class="fa fa-heart-o"></i> <%= @likes.where(likee_id: project.id).count %>
                      <% end %>
                    <% end %>
                  <% end %>  
          <% else %>
             <%= form_for(current_user.likes.find_by_likee_id(project.id),
                html: { method: :delete }) do |l| %>
                <%= l.button do %>
                  <% if @likes.where(likee_id: project.id).count == nil %>
                    <i class="fa fa-heart-o"></i>
                  <% else %>   
                    <i class="fa fa-heart"></i> <%= @likes.where(likee_id: project.id).count %>
                  <% end %>
                <% end %>
              <% end %> 
          <% end %>
        <% else %>
          <div class="like_heart">
            <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, new_user_session_path %>
            <%= @likes.where(likee_id: project.id).count %>
          </div>
        <% end %>  
    </div>  
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>


