<div class="body_project_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    Zwei Design
  </div>
  <div class="index_welcome_message_subtitle">
    From house painting to interior design, we find the right pros for every todo on your list.
    <div class="index_welcome_button">
      <%= link_to "FIND A PRO", info_path %>
      <!-- <% if current_user.present? %>
        <%= link_to "JOIN AS A PRO", leads_path %>
      <% else %>
        <%= link_to "JOIN AS A PRO", membership_path %>
      <% end %> -->
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="index_welcome_message_subtitle">
  Tell us what you need. Get free offers. Hire the right Pro for your project.
</div>
  <!-- <video class="video" autoplay loop muted="muted" >
    <source src="/videos/zd-movie.mp4" type="video/mp4", codecs="avc1.42E01E, mp4a.40.2">
  </video> -->
</div>
<div class="index_container">
  <div class="index_container_title">
    Recently published portfolios
  </div>
</div>
<!-- <ol id="filters">
  <li data-filter='Architects & Building Designers'>
    <%= I18n.t'users-index.field-1'%>
  </li>
  <li data-filter="Interior Designers & Decorators">
    <%= I18n.t'users-index.field-4'%>
  </li>
  <li data-filter="Kitchen and Bathroom Designers & Fitters">
    <%= I18n.t'users-index.field-5'%>
  </li>
  <li data-filter="Kitchen and Bathroom Renovators">
    <%= I18n.t'users-index.field-6'%>
  </li>
  <li data-filter="Landscape Architects & Garden Designers">
    <%= I18n.t'users-index.field-7'%>
  </li>
  <li data-filter="Landscape Contractors">
    <%= I18n.t'users-index.field-8'%>
  </li>
  <li data-filter="General Home Builders">
    <%= I18n.t'users-index.field-2'%>
  </li>
  <li data-filter="Masonry">
    <%= I18n.t'users-index.field-3'%>
  </li>
  <li data-filter="Stone, Paving & Concrete">
    <%= I18n.t'users-index.field-9'%>
  </li>
  <li data-filter="Cheramics, Stone & Marble">
    <%= I18n.t'users-index.field-10'%>
  </li>
  <li data-filter="Interior & Exterior Photographers">
    <%= I18n.t'users-index.field-11'%>
  </li>
  <li data-filter="Architectural Visualisation">
    <%= I18n.t'users-index.field-12'%>
  </li>
  <li data-filter="Furniture Designers">
    <%= I18n.t'users-index.field-13'%>
  </li>
  <li data-filter="Other">
    <%= I18n.t'users-index.field-14'%>
  </li>
</ol> -->
<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.user.business_type%>"]' >
    <!-- <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>      -->
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:large), :width => '287'}".html_safe, user_path(project.user) %> <br>
      <br>
      <div class="lead_subtitle"></div>
          <% if project.user.business_type.present? %>
            <div class="lead_subtitle_button">
              <%= link_to "#{project.user.business_type}", users_path %>
            </div>
            <br>
          <% end %>
          <div class="lead_subtitle_button">
          <%=link_to "#{image_tag project.user.picture.url(:thumb), :height => "15"} #{project.user.company}".html_safe, user_path(project.user) %>
        </div>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
<div class="index_welcome_see_profiles">
  <%= link_to "GET STARTED", new_lead_path %>
</div>
