
<div class="body_leads_index">


<div class="columns" id="main" role="main">
<ol id="filters">
  <li data-filter='Kuhinja'>
    Kuhinja (<%=@kuhinja_count%>)
  </li>
  <li data-filter='Kopalnica'>
    Kopalnica (<%=@kopalnica_count%>)
  </li>
  <li data-filter='Spalnica'>
    Spalnica (<%=@spalnica_count%>)
  </li>
  <li data-filter='Dnevni prostor'>
    Dnevni prostor (<%=@dnevni_prostor_count%>)
  </li>
  <li data-filter='Jedilnica'>
    Jedilnica (<%=@jedilnica_count %>)
  </li>
  <li data-filter='Otroški prostor'>
    Otroški prostor (<%=@otroski_prostor_count %>)
  </li>
  <li data-filter='Delovni prostor'>
    Delovni prostor (<%=@delovni_prostor_count%>)
  </li>
  <li data-filter='Prostor za shranjevanje'>
    Utility & shramba (<%=@shranjevanje_count %>)
  </li>
  <li data-filter='Vhod in garderoba'>
    Vhod & garderoba (<%=@vhod_in_garderoba_count%>)
  </li>
  <li data-filter='hodnik'>
    Hodnik (<%=@hodnik_count%>)
  </li>
  <li data-filter='Stopnišče'>
    Stopnišče (<%=@stopnisce_count%>)
  </li>
  <li data-filter='Klet'>
    Klet (<%=@klet_count%>)
  </li>
  <li data-filter='Garaža in hobi prostor'>
    Garaža (<%=@garaza_in_hobi_count%>)
  </li>
  <li data-filter='Hiša in fasade'>
    Hiša & fasade (<%=@hisa_in_fasade_count%>)
  </li>
  <li data-filter='Okolica'>
    Okolica (<%=@okolica_count%>)
  </li>
  <li data-filter='Svetila'>
    Svetila (<%=@svetila_count%>)
  </li>
  <li data-filter='Dekor'>
    Hobi & dekor (<%=@dekor_count%>)
  </li>
</ol>
 
<ul id="tiles" class="wookmark">
<% if @projects.present? %>
  <% @sorted_projects.each do |project| %>
  <div class="lead_box" data-filter-class='["<%=project.category%>"]' >
    <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>     
    <div class="lead_body">
      <div class="lead_subtitle" ></div>
        <%= link_to "#{image_tag project.picture.url(:medium), :width => '250'}".html_safe, project_path(project) %> <br>
      <div class="lead_subtitle"></div>
        <%=link_to "#{image_tag project.user.picture.url(:thumb), :width => "20"} #{project.user.company}".html_safe, user_path(project.user) %>
    </div>      
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>


//   <script type="text/javascript">
//     var leadboxes = document.querySelectorAll('.lead_box');
//     for(var i = 0; i < leadboxes.length; i++) {
//       (function leadbox (ID) {
//         leadboxes[ID].addEventListener('click', function onClick (event) {
//           var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
//           window.location.href = leadpath;
//         });
//       })(i);
//     }
// </script>