
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>         Izberite naslov.      </div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>        Dodajte fotko.      </div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i> Opišite projekt.  </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      Objavite svoj projekt 
    </div>
    <div class="lead_new_instructions">
      Predstavite svoj kreativni projekt. Potrebujete le naslov projekta in kakovostno fotografijo.
      <% if current_user.present? %>
      <% else %>
        <br><br>Za objavo morate biti prijavljeni.
      <% end %>
    </div>
    <%= form_for @project, :url => projects_path, :html => { :multipart => true } do |p| %>
      <div class="lead_new_form_business_type">
        <%= p.select :category, @categories, :prompt=>"S katerega področja je vaš projekt?"%> 
      </div>
      <div class="lead_new_form_description">
        <%= p.label "Naslov projekta" %>
        <%= p.text_field :title %>
      </div>
      <div class="lead_new_form_description"> 
        <%= p.file_field :picture %>
      </div>
      <% if user_signed_in? %>
        <%= p.text_field :email, type: "hidden", value: "#{current_user.email}" %>
      <div class="lead_new_form_submit">
        <%= p.submit "Objavi" %>
      </div>  
      <% else %>
        <div class="lead_new_form_submit"> 
          <%= link_to "Objavi", new_user_registration_path %>
        </div>
      <% end %>
    <% end %> 
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    Na Sosed.biz lahko predstavite svoje projekte. 
  </div>
  <div class="lead_new_we_help_categories_title">
    Imate za sabo projekte, na katere ste še posebej ponosni? Sedaj jih lahko predstavite strankam. Izpolnite zgornji obrazec in predstavite svoj projekt. Potrebujete le naslov, kratek opis in eno fotografijo.
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> Gradbeniki</i>  
    <i class="fa fa-check-square-o"> Arhitekti</i> 
    <i class="fa fa-check-square-o"> Notranji oblikovalci</i> 
    <i class="fa fa-check-square-o"> Projektanti</i> 
    <i class="fa fa-check-square-o"> Dekoraterji</i> 
  </div>
</section> 
<section class="lead_new_company_info">
  <div class="lead_new_company_info_name">Moj sosed d.o.o.</div>
  <div class="lead_new_company_info_contact"><%= mail_to "info@sosed.si", "info@sosed.si" %></div><br><br>
  <a href="https://www.facebook.com/ZweiDesign" target="_blank" style="color:#606060;" title="Poiščite nas na Facebooku"><i class="fa fa-facebook-square fa-2x"></i></a>
</section> 