<div class="body_leads_show">
  <a class="back_to_main_page_button" href="/"></a>
    <div class="lead_show">
      <div class="lead_show_title">
        <%= link_to "#{@project.title}", user_path(id: User.all.where(email: @project.email).first.id)%>
      </div>
      <div class="lead_show_body">
        <div class="lead_show_items_short">      
          <div class="lead_show_item">             
            <div class="lead_show_subtitle"></div> 
            <%= image_tag @project.picture.url(:full), :width => "770" %>
          </div>
        <% if current_user.present? %>
          <% if @project.email == current_user.email %>
            <div class="lead_show_buy"> 
              <%= link_to "Uredi", edit_project_url(@project) %>
            </div>
          <% else %>
            <div class="project_show_send_message">
              <%= form_for :conversation, url: :conversations do |f| %>
                <%= f.text_field :recipients, type: "hidden", value: "#{@project.email}" %>
                <%= f.text_field  :subject, type: "hidden", value: "#{current_user.email} se zanima za #{@project.title} "  %>
                <%= f.text_field  :body, as: :text, placeholder: "Kontaktirajte izvajalca tega projekta" %>
                <div class="project_show_send_message_button">
                  <%= f.button :Pošlji %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="project_show_send_message">
            <i class='fa fa-envelope-o'></i>
            <%= link_to "Kontaktirajte izvajalca", new_user_registration_path %>
          </div>
        <% end %>
        </div> 
      </div> 
    </div>
  </div>



