<div class="body_leads_show">
  <a class="back_to_main_page_button" href="/"></a>
    <div class="lead_show">
      <div class="lead_show_title">
        <%= @project_title %>
      </div>
      <div class="lead_show_body">
        <div class="lead_show_items_short">      
          <div class="lead_show_item">             
            <div class="lead_show_subtitle"></div> 
            <%= image_tag @project.picture.url(:medium) %>
          </div>
          <div class="lead_show_item">
            <div class="lead_show_subtitle">Avtor:</div> 
              <%= link_to "#{@project_email}", user_path(id: User.all.where(email: @project.email).first.id)%><br>
            <div class="lead_show_subtitle">Opis:</div> 
            <%= @project_description %>
          </div> 
        </div> 
      </div> 
    </div>
  </div>





<!-- <h1><%= link_to "#{@project_email}", user_path(id: User.all.where(email: @project.email).first.id)%></h1>
<h2><%= @project_title %></h2>
<%= @project_description %>
<%= image_tag @project.picture.url(:medium) %> -->


<!-- order_path(id: @lead.reverse_orders.where(selector_id: current_user.id).first.id) -->