<div class="top_menu_bar">
  <a href="<%= root_path %>"><%= image_tag 'sosed.biz.png', :class => 'logo' %></a>
  <% if user_signed_in? %>
    <select id="menu_bar_select" class="select_bar">
    <option value=""><%= current_user.email.split('@').first %></option>
    <option value="<%= user_path(current_user)%>">Moj profil</option>
    <option value="<%= edit_user_registration_path %>">Uredi profil</option>
    <option value="<%= leads_path %>">Stranke iščejo</option>
    <option value="<%= delim_path %>">Jaz iščem</option>
    <option value="<%= info_path %>">Več o ZweiDesign</option>
    <!-- <option value="<%= profile_path %>">Nadzorna plošča</option> -->
    <option value="<%= destroy_user_session_path %>">Odjava</option>
  </select>
  <div class="publish_project"> 
    <%= link_to "Objavite svoj projekt", new_project_path %> 
  </div>
  <div class="messages"> 
    <%= link_to messages_path do %>
      <i class="fa fa-envelope-o"></i>
    <% end %>
  </div>
  <% else %>
    <select id="menu_bar_select" class="select_bar">
    <option value="">Prijava/Registracija</option>
    <option value="<%= new_user_session_path %>">Prijava</option>
    <option value="<%= new_user_registration_path %>">Še niste registrirani?</option>
    <option value="<%= delim_path %>">Iščem izvajalca</option>
    <option value="<%= info_path %>">Več o ZweiDesign</option>
    <option value="<%= root_path %>">Domov</option>
  </select>
  <div class="publish_project"> 
    <%= link_to "Objavite svoj projekt", new_project_path %> 
  </div>
  <div class="messages"> 
    <%= link_to info_path do %>
    <i class="fa fa-search"></i>
    <% end %>
  </div>
  <% end %>


  <script>
    document.getElementById("menu_bar_select").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
  </script>
  
</div>