<div class="top_menu_bar">
  <a href="<%= root_path %>"><%= image_tag 'sosed.biz.png', :class => 'logo' %></a>
  <% if user_signed_in? %>
      <select id="menu_bar_select" class="select_bar">
        <option value=""><%= current_user.email.split('@').first %></option>
        <option value="<%= leads_path %>"><%=I18n.t'top-menu.available-jobs'%></option>
        <!-- <option value="<%= users_path %>"><%=I18n.t'top-menu.professionals'%></option> -->
        <option value="<%= info_path %>"><%=I18n.t'top-menu.info'%></option>
        <option value="<%= user_path(current_user)%>"><%=I18n.t'top-menu.my-profile'%></option>
        <option value="<%= edit_user_registration_path %>"><%=I18n.t'top-menu.edit-profile'%></option>
        <option value="<%= destroy_user_session_path %>"><%=I18n.t'top-menu.sign-out'%></option>
      </select>
      <div class="find_provider"> 
        <%= link_to "#{I18n.t'top-menu.find-provider'}", find_professional_path %> 
      </div>
      <div class="publish_project"> 
        <%= link_to "#{I18n.t'top-menu.publish-project'}", new_project_path %> 
      </div>
      <div class="messages"> 
        <%= link_to messages_path do %>
          <i class="fa fa-envelope-o"></i>
        <% end %>
      </div>
  <% else %>
      <select id="menu_bar_select" class="select_bar">
        <option value=""><%=I18n.t'top-menu.signin-signup'%></option>
        <option value="<%= new_user_session_path %>"><%=I18n.t'top-menu.sign-in'%></option>
        <option value="<%= new_user_registration_path %>"><%=I18n.t'top-menu.sign-up'%></option>
        <option value="<%= leads_path %>"><%=I18n.t'top-menu.available-jobs'%></option>
<!--         <option value="<%= users_path %>"><%=I18n.t'top-menu.professionals'%></option> -->
        <option value="<%= info_path %>"><%=I18n.t'top-menu.info'%></option>
      </select>
      <div class="find_provider"> 
        <%= link_to "#{I18n.t'top-menu.find-provider'}", find_professional_path %> 
      </div>
      <div class="publish_project"> 
        <%= link_to "#{I18n.t'top-menu.publish-project'}", new_project_path %> 
      </div>
      <div class="messages"> 
        <%= link_to new_user_session_path do %>
        <i class="fa fa-envelope-o"></i>
        <% end %>
      </div>
  <% end %>


  <script>
    document.getElementById("menu_bar_select").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
  </script>
  
</div>